---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-1kbjhjcgq43ud","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6428208547780616581",
              "name": "operation-1715101545752-617e0326367c5-ee660ccd-435ee2df",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud",
              "targetId": "8076314883690848645",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T10:05:46.334-07:00",
              "startTime": "2024-05-03T10:05:46.347-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715101545752-617e0326367c5-ee660ccd-435ee2df"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 872.354194ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715101545752-617e0326367c5-ee660ccd-435ee2df?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"6428208547780616581","name":"operation-1715101545752-617e0326367c5-ee660ccd-435ee2df","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud","targetId":"8076314883690848645","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-05-03T10:05:46.334-07:00","startTime":"2024-05-03T10:05:46.347-07:00","endTime":"2024-05-03T10:05:56.233-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715101545752-617e0326367c5-ee660ccd-435ee2df"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 152.727642ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "8076314883690848645",
              "creationTimestamp": "2024-05-03T10:05:46.296-07:00",
              "name": "computenetwork-1kbjhjcgq43ud",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/8076314883690848645",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 251.436936ms
[...]
    - id: 4
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-1kbjhjcgq43ud","network":"projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "2866772016115474840",
              "name": "operation-1715101559083-617e0332ed188-c0b647c3-c503a41c",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1kbjhjcgq43ud",
              "targetId": "8714161391647842712",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T10:05:59.740-07:00",
              "startTime": "2024-05-03T10:05:59.750-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715101559083-617e0332ed188-c0b647c3-c503a41c"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 877.711723ms
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters?alt=json&clusterId=alloydbcluster-1-1kbjhjcgq43ud
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715101560217-617e033401e9c-d85f4eea-aeddfa89",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:06:00.372998871Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 606.821637ms
[...]
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "8714161391647842712",
              "creationTimestamp": "2024-05-03T10:05:59.706-07:00",
              "name": "computeaddress-1kbjhjcgq43ud",
              "description": "",
              "address": "10.15.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1kbjhjcgq43ud",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 195.58727ms
    - id: 8
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1715101560217-617e033401e9c-d85f4eea-aeddfa89?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715101560217-617e033401e9c-d85f4eea-aeddfa89",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:06:00.372998871Z",
                "endTime": "2024-05-07T17:06:05.692151669Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud",
                "uid": "8b3e2854-76b7-4cd5-a0a8-728a2ce0a072",
                "createTime": "2024-05-07T17:06:00.369419012Z",
                "updateTime": "2024-05-07T17:06:00.369419012Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-05-07T17:06:00.223596836Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 593.371127ms
    - id: 9
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1kbjhjcgq43ud/setLabels?alt=json
        method: POST
      response:
        body: |
            {
        [...]
    - id: 10
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud",
    [...]
[...]
    - id: 12
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 120.107553ms
[...]
    - id: 15
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-1kbjhjcgq43ud&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 247.559917ms
    - id: 16
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"SECONDARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud"},"secondaryConfig":{"primaryClusterName":"projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters:createsecondary?alt=json&cluster_id=alloydbcluster-2-1kbjhjcgq43ud
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1715101574759-617e0341e02be-f9409572-ea496e92",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:06:14.940214484Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbcluster-2-1kbjhjcgq43ud",
                "verb": "createsecondary",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 435.101986ms
[...]
    - id: 18
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud/instances?alt=json&instanceId=alloydbinstance-1kbjhjcgq43ud
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715101575045-617e034226300-0767ca3f-14300dfa",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:06:15.395016386Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud/instances/alloydbinstance-1kbjhjcgq43ud",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 534.47589ms
    - id: 19
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud","reservedPeeringRanges":["computeaddress-1kbjhjcgq43ud"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-547f4a5f-9882-478e-a963-d185552c1d1a"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 409.358618ms
    - id: 20
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/operations/operation-1715101574759-617e0341e02be-f9409572-ea496e92?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/op[...]
    - id: 21
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters/alloydbcluster-2-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/clusters/alloydbcluster-2-1kbjhjcgq43ud"[...]
[...]
    - id: 23
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1715101575045-617e034226300-0767ca3f-14300dfa?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715101575045-617e034226300-0767ca3f-14300dfa",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:06:15.395016386Z",
                "endTime": "2024-05-07T17:06:24.200121166Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud/instances/alloydbinstance-1kbjhjcgq43ud",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "a12d8a2becfe70e2"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "a12d8a2becfe70e2"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 401.537997ms
[...]
    - id: 33
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-547f4a5f-9882-478e-a963-d185552c1d1a?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-547f4a5f-9882-478e-a963-d185552c1d1a","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud","reservedPeeringRanges":["computeaddress-1kbjhjcgq43ud"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 77.985845ms
[...]
    - id: 35
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-1kbjhjcgq43ud&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud","reservedPeeringRanges":["computeaddress-1kbjhjcgq43ud"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 279.335593ms
[...]
    - id: 38
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "8076314883690848645",
              "creationTimestamp": "2024-05-03T10:05:46.296-07:00",
              "name": "computenetwork-1kbjhjcgq43ud",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/8076314883690848645",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/x05d6d74ecd0e35f3-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-05-03T10:09:01.182-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 215.349075ms
[...]
    - id: 41
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud/instances/alloydbinstance-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud/instances/alloydbinstance-1kbjhjcgq43ud",
              "uid": "777ec010-ecbf-4d45-a5f4-87d047659deb",
              "createTime": "2024-05-07T17:08:23.223686020Z",
              "updateTime": "2024-05-07T17:15:18.552916154Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.15.0.2",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west1-a"
              },
              "nodes": [
                {
                  "zoneId": "us-west1-b"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "clientConnectionConfig": {
                "sslConfig": {
                  "sslMode": "ENCRYPTED_ONLY"
                }
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 200,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 441.438155ms
[...]
    - id: 44
      request:
        host: alloydb.googleapis.com
        body: |
            {"automatedBackupPolicy":{"backupWindow":"3600s","labels":{"source":"kcc-test"},"location":"us-central1","timeBasedRetention":{"retentionPeriod":"1209600s"},"weeklySchedule":{"daysOfWeek":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"],"startTimes":[{"hours":23}]}},"clusterType":"SECONDARY","continuousBackupConfig":{"enabled":true,"recoveryWindowDays":14},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud","networkConfig":{"network":"projects/123456789/global/[...]
[...]
    - id: 56
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters/alloydbcluster-2-1kbjhjcgq43ud?alt=json&force=true
        method: DELETE
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1715102146143-617e0562ca3b4-3ff176ff-d7a15b8e",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:15:46.186063313Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbcluster-2-1kbjhjcgq43ud",
                "verb": "delete",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 299.349296ms
[...]
    - id: 60
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud/removePeering?alt=json
        method: POST
[...]
