# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts/gsa-1njdnbdljki5l@example-project.iam.gserviceaccount.com?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"projects/example-project/serviceAccounts/gsa-1njdnbdljki5l@example-project.iam.gserviceaccount.com","projectId":"example-project","uniqueId":"101832979126984320349","email":"gsa-1njdnbdljki5l@example-project.iam.gserviceaccount.com","displayName":"DataFusionInstance Service Account","etag":"MDEwMjE5MjA=","oauth2ClientId":"101832979126984320349"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 146.680789ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "1009082065120231624",
              "creationTimestamp": "2024-04-11T12:46:47.075-07:00",
              "name": "default",
              "description": "Default network for the project",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/1009082065120231624",
              "autoCreateSubnetworks": true,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-northeast3/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-east5/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-west2/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-east4/subnetworks/default",
      [...]
[...]
