---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-3aeh8ig86s80a","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "8954610849337038642",
              "name": "operation-1715104221130-617e0d1da6fe8-1fe1f28e-02ee0682",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3aeh8ig86s80a",
              "targetId": "619673203049486130",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T10:50:21.534-07:00",
              "startTime": "2024-05-03T10:50:21.545-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715104221130-617e0d1da6fe8-1fe1f28e-02ee0682"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 585.426325ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715104221130-617e0d1da6fe8-1fe1f28e-02ee0682?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"8954610849337038642","name":"operation-1715104221130-617e0d1da6fe8-1fe1f28e-02ee0682","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3aeh8ig86s80a","targetId":"619673203049486130","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-05-03T10:50:21.534-07:00","startTime":"2024-05-03T10:50:21.545-07:00","endTime":"2024-05-03T10:50:29.127-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715104221130-617e0d1da6fe8-1fe1f28e-02ee0682"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 227.300573ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3aeh8ig86s80a?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "619673203049486130",
              "creationTimestamp": "2024-05-03T10:50:21.528-07:00",
              "name": "computenetwork-3aeh8ig86s80a",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3aeh8ig86s80a",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/619673203049486130",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 149.265953ms
[...]
    - id: 4
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-3aeh8ig86s80a","network":"projects/example-project/global/networks/computenetwork-3aeh8ig86s80a","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "906648658476783365",
              "name": "operation-1715104233828-617e0d29c30d5-6d9e6adf-0909bb92",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-3aeh8ig86s80a",
              "targetId": "1897616451114096389",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T10:50:34.503-07:00",
              "startTime": "2024-05-03T10:50:34.517-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715104233828-617e0d29c30d5-6d9e6adf-0909bb92"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 943.748655ms
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-3aeh8ig86s80a"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters?alt=json&clusterId=alloydbcluster-1-3aeh8ig86s80a
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715104234837-617e0d2ab95bf-b1466031-d8f10df9",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:50:34.943689791Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 557.398316ms
[...]
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-3aeh8ig86s80a?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "1897616451114096389",
              "creationTimestamp": "2024-05-03T10:50:34.461-07:00",
              "name": "computeaddress-3aeh8ig86s80a",
              "description": "",
              "address": "10.35.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-3aeh8ig86s80a",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3aeh8ig86s80a"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 240.344666ms
    - id: 8
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1715104234837-617e0d2ab95bf-b1466031-d8f10df9?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715104234837-617e0d2ab95bf-b1466031-d8f10df9",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:50:34.943689791Z",
                "endTime": "2024-05-07T17:50:40.307872796Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a",
                "uid": "d082b5b9-cd89-4f11-bc8a-9c8ac1518f6d",
                "createTime": "2024-05-07T17:50:34.939276552Z",
                "updateTime": "2024-05-07T17:50:34.939276552Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-3aeh8ig86s80a",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-05-07T17:50:34.843717917Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-3aeh8ig86s80a"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 407.370958ms
    - id: 9
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a",
     [...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-3aeh8ig86s80a/setLabels?alt=json
        method: POST
      response:
        body: |
            {
       [...]
[...]
    - id: 13
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"SECONDARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-3aeh8ig86s80a"},"secondaryConfig":{"primaryClusterName":"projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters:createsecondary?alt=json&cluster_id=alloydbcluster-2-3aeh8ig86s80a
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1715104248978-617e0d3835a91-c5815913-f6113ef5",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:50:49.159679811Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbcluster-2-3aeh8ig86s80a",
                "verb": "createsecondary",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 445.210521ms
    - id: 14
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 88.191602ms
[...]
    - id: 16
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-3aeh8ig86s80a&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 206.285683ms
    - id: 17
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a/instances?alt=json&instanceId=alloydbinstance-1-3aeh8ig86s80a
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715104249572-617e0d38c6c84-74f2de71-65e7414b",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:50:49.908063403Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a/instances/alloydbinstance-1-3aeh8ig86s80a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 836.624354ms
[...]
    - id: 19
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-3aeh8ig86s80a","reservedPeeringRanges":["computeaddress-3aeh8ig86s80a"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-dd1c1440-3d71-4004-a12c-00c7fafd0ffe"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 348.508215ms
    - id: 20
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/operations/operation-1715104248978-617e0d3835a91-c5815913-f6113ef5?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/op[...]
    - id: 21
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters/alloydbcluster-2-3aeh8ig86s80a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/clusters/alloydbcluster-2-3aeh8ig86s80a"[...]
[...]
    - id: 23
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1715104249572-617e0d38c6c84-74f2de71-65e7414b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715104249572-617e0d38c6c84-74f2de71-65e7414b",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:50:49.908063403Z",
                "endTime": "2024-05-07T17:50:58.372082414Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a/instances/alloydbinstance-1-3aeh8ig86s80a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-3aeh8ig86s80a\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-3aeh8ig86s80a",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "0e518550aded0d44"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "0e518550aded0d44"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 404.796837ms
[...]
    - id: 27
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-dd1c1440-3d71-4004-a12c-00c7fafd0ffe?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-dd1c1440-3d71-4004-a12c-00c7fafd0ffe","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-3aeh8ig86s80a","reservedPeeringRanges":["computeaddress-3aeh8ig86s80a"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 119.179026ms
[...]
    - id: 29
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-3aeh8ig86s80a&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-3aeh8ig86s80a","reservedPeeringRanges":["computeaddress-3aeh8ig86s80a"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 222.686224ms
    - id: 30
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3aeh8ig86s80a?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "619673203049486130",
              "creationTimestamp": "2024-05-03T10:50:21.528-07:00",
              "name": "computenetwork-3aeh8ig86s80a",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3aeh8ig86s80a",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/619673203049486130",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/y78be69c0d3c47bd2p-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-05-03T10:51:59.936-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 158.801409ms
[...]
    - id: 32
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a/instances/alloydbinstance-1-3aeh8ig86s80a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-3aeh8ig86s80a/instances/alloydbinstance-1-3aeh8ig86s80a",
              "uid": "cac381af-ed1b-4fff-96ec-e7b66cd2dcdd",
              "createTime": "2024-05-07T17:51:23.715923011Z",
              "updateTime": "2024-05-07T17:57:57.185447626Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.35.0.2",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west1-a"
              },
              "nodes": [
                {
                  "zoneId": "us-west1-b"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "clientConnectionConfig": {
                "sslConfig": {
                  "sslMode": "ENCRYPTED_ONLY"
                }
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 200,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 181.177501ms
[...]
    - id: 34
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","instanceType":"SECONDARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters/alloydbcluster-2-3aeh8ig86s80a/instances:createsecondary?alt=json&instanceId=alloydbinstance-2-3aeh8ig86s80a
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1715104757262-617e0f1cf2a70-4d358bf3-cadbc875",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T17:59:17.876578074Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbcluster-2-3aeh8ig86s80a/instances/alloydbinstance-2-3aeh8ig86s80a",
                "verb": "createsecondary",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 883.278142ms
[...]
    - id: 42
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters/alloydbcluster-2-3aeh8ig86s80a/instances/alloydbinstance-2-3aeh8ig86s80a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central[...]
[...]
    - id: 45
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","databaseFlags":{"enable_google_adaptive_autovacuum":"off"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
[...]
