---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":true,"name":"computenetwork1chwh6gcmj758","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "3261533287903380263",
              "name": "operation-1715109319582-617e201bea182-1aea5627-23d34155",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758",
              "targetId": "5270631358754439975",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T12:15:20.322-07:00",
              "startTime": "2024-05-03T12:15:20.333-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715109319582-617e201bea182-1aea5627-23d34155"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 890.954785ms
    - id: 1
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/example-project/global/networks/computenetwork1chwh6gcmj758"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters?alt=json&clusterId=alloydbcluster1chwh6gcmj758
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715109320678-617e201cf5d22-f585b386-b86c4ffe",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T19:15:20.812855343Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 651.601785ms
    - id: 2
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1715109320678-617e201cf5d22-f585b386-b86c4ffe?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715109320678-617e201cf5d22-f585b386-b86c4ffe",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T19:15:20.812855343Z",
                "endTime": "2024-05-07T19:15:26.094089239Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758",
                "uid": "bcda6aaa-1aa7-47b7-85fe-3c8794c1dc19",
                "createTime": "2024-05-07T19:15:20.808211734Z",
                "updateTime": "2024-05-07T19:15:20.808211734Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork1chwh6gcmj758",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-05-07T19:15:20.691646153Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork1chwh6gcmj758"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 423.541455ms
    - id: 3
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758",
           [...]
[...]
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: |
            {"instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances?alt=json&instanceId=alloydbinstance1chwh6gcmj758
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715109335631-617e202b38648-2f8718b8-8734ad3d",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T19:15:35.724382525Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbinstance1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 548.138405ms
    - id: 6
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1715109335631-617e202b38648-2f8718b8-8734ad3d?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715109335631-617e202b38648-2f8718b8-8734ad3d",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T19:15:35.724382525Z",
                "endTime": "2024-05-07T19:15:43.553791498Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbinstance1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork1chwh6gcmj758\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork1chwh6gcmj758",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "2b921b2232e51011"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "2b921b2232e51011"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 428.657164ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715109319582-617e201bea182-1aea5627-23d34155?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"3261533287903380263","name":"operation-1715109319582-617e201bea182-1aea5627-23d34155","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758","targetId":"5270631358754439975","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-05-03T12:15:20.322-07:00","startTime":"2024-05-03T12:15:20.333-07:00","endTime":"2024-05-03T12:16:06.539-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715109319582-617e201bea182-1aea5627-23d34155"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 184.990784ms
    - id: 11
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "5270631358754439975",
              "creationTimestamp": "2024-05-03T12:15:20.317-07:00",
              "name": "computenetwork1chwh6gcmj758",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/5270631358754439975",
              "autoCreateSubnetworks": true,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-east2/subnetworks/computenetwork1chwh6gcmj758",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/southamerica-east1/subnetworks/computenetwork1chwh6gcmj758",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-east1/subnetworks/computenetwork1chwh6gcmj758",
                "https://www.googleapis.com/compute/beta/proje[...]
[...]
    - id: 13
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress1chwh6gcmj758","network":"projects/example-project/global/networks/computenetwork1chwh6gcmj758","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "7296287597978436369",
              "name": "operation-1715109374034-617e204fd818d-da6b1af2-7c3f581b",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1chwh6gcmj758",
              "targetId": "4973569735273202449",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T12:16:14.431-07:00",
              "startTime": "2024-05-03T12:16:14.440-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715109374034-617e204fd818d-da6b1af2-7c3f581b"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 651.01406ms
[...]
    - id: 16
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1chwh6gcmj758?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "4973569735273202449",
              "creationTimestamp": "2024-05-03T12:16:14.426-07:00",
              "name": "computeaddress1chwh6gcmj758",
              "description": "",
              "address": "10.64.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1chwh6gcmj758",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 228.847947ms
    - id: 17
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1chwh6gcmj758/setLabels?alt=json
        method: POST
      response:
        body: |
            {
        [...]
[...]
    - id: 19
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 123.012569ms
[...]
    - id: 21
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork1chwh6gcmj758&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 233.866507ms
[...]
    - id: 23
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork1chwh6gcmj758","reservedPeeringRanges":["computeaddress1chwh6gcmj758"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-1b71bac0-ec5e-49ed-9c24-b9a64fa7d0a3"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 424.645591ms
[...]
    - id: 27
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-1b71bac0-ec5e-49ed-9c24-b9a64fa7d0a3?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-1b71bac0-ec5e-49ed-9c24-b9a64fa7d0a3","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork1chwh6gcmj758","reservedPeeringRanges":["computeaddress1chwh6gcmj758"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 94.654776ms
[...]
    - id: 29
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork1chwh6gcmj758&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork1chwh6gcmj758","reservedPeeringRanges":["computeaddress1chwh6gcmj758"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 337.998742ms
[...]
    - id: 31
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbinstance1chwh6gcmj758?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbinstance1chwh6gcmj758",
              "uid": "4dacb499-1eb3-4a5b-882d-bda401bc8786",
              "createTime": "2024-05-07T19:17:00.753070057Z",
              "updateTime": "2024-05-07T19:22:44.011234332Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.20.0.9",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west1-a"
              },
              "nodes": [
                {
                  "zoneId": "us-west1-b"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "clientConnectionConfig": {
                "sslConfig": {
                  "sslMode": "ENCRYPTED_ONLY"
                }
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 200,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 187.902726ms
[...]
    - id: 35
      request:
        host: alloydb.googleapis.com
        body: |
            {"instanceType":"READ_POOL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2},"readPoolConfig":{"nodeCount":1}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances?alt=json&instanceId=alloydbreadinstance1chwh6gcmj758
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715109837514-617e2209da5cc-5581b14c-463ecc54",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T19:23:57.608940010Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbreadinstance1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 258.794857ms
[...]
    - id: 41
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbreadinstance1chwh6gcmj758?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/cluste[...]
[...]
    - id: 43
      request:
        host: alloydb.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2},"readPoolConfig":{"nodeCount":3}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbreadinstance1chwh6gcmj758?alt=json&updateMask=readPoolConfig
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1715110140071-617e232a64f1b-c8e3a328-d2bebe57",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T19:29:00.143869012Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbreadinstance1chwh6gcmj758",
                "verb": "update",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 587.293798ms
[...]
    - id: 58
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/123456789/global/networks/computenetwork1chwh6gcmj758/removePeering?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "1948018579527384881",
              "name": "operation-1715110365261-617e240126e00-c77b3738-9ba1c94e",
              "operationType": "removePeering",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758",
              "targetId": "5270631358754439975",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T12:32:46.170-07:00",
              "startTime": "2024-05-03T12:32:46.179-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715110365261-617e240126e00-c77b3738-9ba1c94e"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.059162815s
[...]
