---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "908864840150306123",
              "creationTimestamp": "2023-07-11T17:28:20.541-07:00",
              "name": "default",
              "description": "Default network for the project",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/908864840150306123",
              "autoCreateSubnetworks": true,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-west8/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-west4/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/me-central2/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-east4/subnetworks/default",
      [...]
[...]
    - id: 2
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","displayName":"test alloydb cluster","initialUser":{"password":"postgres","user":"postgres"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/default"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters?alt=json&clusterId=alloydbclusterlbk8ncs6abe1
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1711654170257-614bd8acbe7d2-b6ecafa2-a5a1a79a",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:29:30.366634553Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbclusterlbk8ncs6abe1",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 400.844629ms
    - id: 3
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/operations/operation-1711654170257-614bd8acbe7d2-b6ecafa2-a5a1a79a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1711654170257-614bd8acbe7d2-b6ecafa2-a5a1a79a",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:29:30.366634553Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbclusterlbk8ncs6abe1",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 251.675611ms
    - id: 4
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/operations/operation-1711654170257-614bd8acbe7d2-b6ecafa2-a5a1a79a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1711654170257-614bd8acbe7d2-b6ecafa2-a5a1a79a",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:29:30.366634553Z",
                "endTime": "2024-03-28T19:29:36.107539590Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbclusterlbk8ncs6abe1",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-central1/clusters/alloydbclusterlbk8ncs6abe1",
                "uid": "40fc7410-c464-40a4-9b18-b92624b8f178",
                "createTime": "2024-03-28T19:29:30.362379636Z",
                "updateTime": "2024-03-28T19:29:30.362379636Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_14",
                "network": "projects/402887772785/global/networks/default",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-central1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-03-28T19:29:30.262643101Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/402887772785/global/networks/default"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 205.351725ms
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters/alloydbclusterlbk8ncs6abe1?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/clusters/alloydbclusterlbk8ncs6abe1",
       [...]
[...]
    - id: 8
      request:
        host: alloydb.googleapis.com
        body: |
            {"automatedBackupPolicy":{"backupWindow":"3600s","labels":{"source":"kcc-test"},"location":"us-central1","timeBasedRetention":{"retentionPeriod":"1209600s"},"weeklySchedule":{"daysOfWeek":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"],"startTimes":[{"hours":23}]}},"clusterType":"PRIMARY","continuousBackupConfig":{"enabled":true,"recoveryWindowDays":14},"displayName":"test alloydb cluster 2","initialUser":{"password":"postgres","user":"postgres"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/402887772785/glob[...]
[...]
