---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-22nqkauj7nurv","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6201237629475101730",
              "name": "operation-1712038605103-615170ce6225e-2d6c1cc3-63eea575",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv",
              "targetId": "4638166758352886818",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-01T23:16:45.555-07:00",
              "startTime": "2024-04-01T23:16:45.566-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712038605103-615170ce6225e-2d6c1cc3-63eea575"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 602.251431ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712038605103-615170ce6225e-2d6c1cc3-63eea575?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"6201237629475101730","name":"operation-1712038605103-615170ce6225e-2d6c1cc3-63eea575","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv","targetId":"4638166758352886818","status":"RUNNING","user":"user@google.com","progress":0,"insertTime":"2024-04-01T23:16:45.555-07:00","startTime":"2024-04-01T23:16:45.566-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712038605103-615170ce6225e-2d6c1cc3-63eea575"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 207.433716ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712038605103-615170ce6225e-2d6c1cc3-63eea575?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"6201237629475101730","name":"operation-1712038605103-615170ce6225e-2d6c1cc3-63eea575","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv","targetId":"4638166758352886818","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-04-01T23:16:45.555-07:00","startTime":"2024-04-01T23:16:45.566-07:00","endTime":"2024-04-01T23:16:54.291-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712038605103-615170ce6225e-2d6c1cc3-63eea575"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 253.493353ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4638166758352886818",
              "creationTimestamp": "2024-04-01T23:16:45.550-07:00",
              "name": "computenetwork-22nqkauj7nurv",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4638166758352886818",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 150.522109ms
[...]
    - id: 5
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-22nqkauj7nurv","network":"projects/example-project/global/networks/computenetwork-22nqkauj7nurv","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "2515865207983971381",
              "name": "operation-1712038617903-615170da97365-7d4641f9-6da4686a",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-22nqkauj7nurv",
              "targetId": "3042950135784283189",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-01T23:16:58.324-07:00",
              "startTime": "2024-04-01T23:16:58.333-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712038617903-615170da97365-7d4641f9-6da4686a"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 677.169656ms
[...]
    - id: 7
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-22nqkauj7nurv"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters?alt=json&clusterId=alloydbcluster-22nqkauj7nurv
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1712038618897-615170db89b9f-dc687429-a3002dcc",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T06:16:59.570871090Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.137146326s
    - id: 8
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/operations/operation-1712038618897-615170db89b9f-dc687429-a3002dcc?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1712038618897-615170db89b9f-dc687429-a3002dcc",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T06:16:59.570871090Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 400.720294ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "3042950135784283189",
              "creationTimestamp": "2024-04-01T23:16:58.320-07:00",
              "name": "computeaddress-22nqkauj7nurv",
              "description": "",
              "address": "172.24.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-22nqkauj7nurv",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 218.891176ms
    - id: 11
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-22nqkauj7nurv/setLabels?alt=json
        method: POST
      response:
        body: |
            {
       [...]
[...]
    - id: 13
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 96.955654ms
    - id: 14
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/operations/operation-1712038618897-615170db89b9f-dc687429-a3002dcc?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1712038618897-615170db89b9f-dc687429-a3002dcc",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T06:16:59.570871090Z",
                "endTime": "2024-04-02T06:17:05.358704101Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv",
                "uid": "5fb89be1-f2d6-45e5-a6a6-b63a0f835484",
                "createTime": "2024-04-02T06:16:59.567271820Z",
                "updateTime": "2024-04-02T06:16:59.567271820Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-22nqkauj7nurv",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west2"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-04-02T06:16:59.476570946Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-22nqkauj7nurv"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 435.582872ms
[...]
    - id: 16
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-22nqkauj7nurv&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 238.112145ms
[...]
    - id: 18
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv",
        [...]
    - id: 19
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-22nqkauj7nurv","reservedPeeringRanges":["computeaddress-22nqkauj7nurv"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-d1372e03-ea43-446d-8151-acc88351ab81"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 456.22729ms
[...]
    - id: 21
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-d1372e03-ea43-446d-8151-acc88351ab81?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-d1372e03-ea43-446d-8151-acc88351ab81"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 125.303041ms
    - id: 22
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/instances?alt=json&instanceId=alloydbinstance-22nqkauj7nurv
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1712038634747-615170eaa7693-88159c82-935cd449",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T06:17:15.158057801Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/instances/alloydbinstance-22nqkauj7nurv",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 863.504444ms
[...]
    - id: 24
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/operations/operation-1712038634747-615170eaa7693-88159c82-935cd449?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1712038634747-615170eaa7693-88159c82-935cd449",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T06:17:15.158057801Z",
                "endTime": "2024-04-02T06:17:24.436931561Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/instances/alloydbinstance-22nqkauj7nurv",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-22nqkauj7nurv\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-22nqkauj7nurv",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "bcd7ca5991de5956"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "bcd7ca5991de5956"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 141.899111ms
[...]
    - id: 30
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-d1372e03-ea43-446d-8151-acc88351ab81?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-d1372e03-ea43-446d-8151-acc88351ab81","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-22nqkauj7nurv","reservedPeeringRanges":["computeaddress-22nqkauj7nurv"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 95.309024ms
[...]
    - id: 32
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-22nqkauj7nurv&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-22nqkauj7nurv","reservedPeeringRanges":["computeaddress-22nqkauj7nurv"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 234.546185ms
[...]
    - id: 35
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4638166758352886818",
              "creationTimestamp": "2024-04-01T23:16:45.550-07:00",
              "name": "computenetwork-22nqkauj7nurv",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4638166758352886818",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/y21518d097c92dfcap-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-04-01T23:18:22.609-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 220.223035ms
[...]
    - id: 37
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/instances/alloydbinstance-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/instances/alloydbinstance-22nqkauj7nurv",
              "uid": "b43e1580-ae7a-4dcb-8613-5bffd0fa4db1",
              "createTime": "2024-04-02T06:17:45.974024691Z",
              "updateTime": "2024-04-02T06:24:29.263659948Z",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "172.24.0.2",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west2-a"
              },
              "nodes": [
                {
                  "zoneId": "us-west2-b"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 5,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 129.661312ms
[...]
    - id: 39
      request:
        host: alloydb.googleapis.com
        body: |
            {"userType":"ALLOYDB_IAM_USER"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/users?alt=json&userId=alloydbuser-22nqkauj7nurv
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/users/alloydbuser-22nqkauj7nurv",
              "databaseRoles": [
                "alloydbiamuser"
              ],
              "userType": "ALLOYDB_IAM_USER"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 590.763741ms
    - id: 40
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/users/alloydbuser-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/users/alloydbuser-22nqkauj7nurv",
              "databaseRoles": [
                "alloydbiamuser"
              ],
              "userType": "ALLOYDB_IAM_USER"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 525.37304ms
[...]
    - id: 60
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
[...]
