---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-3qfydjnzu9k8a","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "7259234739023121699",
              "name": "operation-1712042956009-61518103baf10-cbdeafe4-10f9ab5a",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a",
              "targetId": "4205501597018885411",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-02T00:29:16.436-07:00",
              "startTime": "2024-04-02T00:29:16.446-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712042956009-61518103baf10-cbdeafe4-10f9ab5a"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 557.922484ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712042956009-61518103baf10-cbdeafe4-10f9ab5a?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7259234739023121699","name":"operation-1712042956009-61518103baf10-cbdeafe4-10f9ab5a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a","targetId":"4205501597018885411","status":"RUNNING","user":"user@google.com","progress":0,"insertTime":"2024-04-02T00:29:16.436-07:00","startTime":"2024-04-02T00:29:16.446-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712042956009-61518103baf10-cbdeafe4-10f9ab5a"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 200.306197ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712042956009-61518103baf10-cbdeafe4-10f9ab5a?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7259234739023121699","name":"operation-1712042956009-61518103baf10-cbdeafe4-10f9ab5a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a","targetId":"4205501597018885411","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-04-02T00:29:16.436-07:00","startTime":"2024-04-02T00:29:16.446-07:00","endTime":"2024-04-02T00:29:28.185-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712042956009-61518103baf10-cbdeafe4-10f9ab5a"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 284.011652ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4205501597018885411",
              "creationTimestamp": "2024-04-02T00:29:16.423-07:00",
              "name": "computenetwork-3qfydjnzu9k8a",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4205501597018885411",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 160.29196ms
[...]
    - id: 5
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-3qfydjnzu9k8a","network":"projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "4024640064622824716",
              "name": "operation-1712042979048-61518119b3c32-d621cc8e-395f3e36",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-3qfydjnzu9k8a",
              "targetId": "5794832645513153804",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-02T00:29:39.449-07:00",
              "startTime": "2024-04-02T00:29:39.461-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712042979048-61518119b3c32-d621cc8e-395f3e36"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 553.395434ms
[...]
    - id: 7
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters?alt=json&clusterId=alloydbcluster-3qfydjnzu9k8a
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712042980098-6151811ab424e-7e1ce49d-27cd201c",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T07:29:40.423094626Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 785.249389ms
    - id: 8
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1712042980098-6151811ab424e-7e1ce49d-27cd201c?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712042980098-6151811ab424e-7e1ce49d-27cd201c",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T07:29:40.423094626Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 456.404971ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-3qfydjnzu9k8a?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "5794832645513153804",
              "creationTimestamp": "2024-04-02T00:29:39.435-07:00",
              "name": "computeaddress-3qfydjnzu9k8a",
              "description": "",
              "address": "10.37.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-3qfydjnzu9k8a",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 250.508193ms
    - id: 11
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-3qfydjnzu9k8a/setLabels?alt=json
        method: POST
      response:
        body: |
            {
       [...]
    - id: 12
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1712042980098-6151811ab424e-7e1ce49d-27cd201c?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712042980098-6151811ab424e-7e1ce49d-27cd201c",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T07:29:40.423094626Z",
                "endTime": "2024-04-02T07:29:45.756114130Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a",
                "uid": "062c8b43-ad35-491b-b486-abf71cbc236e",
                "createTime": "2024-04-02T07:29:40.417647457Z",
                "updateTime": "2024-04-02T07:29:40.417647457Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-3qfydjnzu9k8a",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-04-02T07:29:40.105010607Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-3qfydjnzu9k8a"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 443.036391ms
[...]
    - id: 14
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 113.246383ms
[...]
    - id: 16
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-3qfydjnzu9k8a&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 262.026263ms
    - id: 17
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a",
        [...]
[...]
    - id: 19
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-3qfydjnzu9k8a","reservedPeeringRanges":["computeaddress-3qfydjnzu9k8a"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-1dbaaa8b-55ca-4e15-9f1c-407c5a004862"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 493.158638ms
[...]
    - id: 21
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-1dbaaa8b-55ca-4e15-9f1c-407c5a004862?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-1dbaaa8b-55ca-4e15-9f1c-407c5a004862"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 112.731033ms
    - id: 22
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"ZONAL","instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a/instances?alt=json&instanceId=alloydbinstance-3qfydjnzu9k8a
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712042995310-6151812936163-86eb3433-57c1a725",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T07:29:55.675022228Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a/instances/alloydbinstance-3qfydjnzu9k8a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 802.974467ms
[...]
    - id: 24
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1712042995310-6151812936163-86eb3433-57c1a725?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712042995310-6151812936163-86eb3433-57c1a725",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T07:29:55.675022228Z",
                "endTime": "2024-04-02T07:30:03.983789788Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a/instances/alloydbinstance-3qfydjnzu9k8a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-3qfydjnzu9k8a\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-3qfydjnzu9k8a",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "6383925c24315b19"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "6383925c24315b19"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 453.524801ms
[...]
    - id: 30
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-1dbaaa8b-55ca-4e15-9f1c-407c5a004862?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-1dbaaa8b-55ca-4e15-9f1c-407c5a004862","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-3qfydjnzu9k8a","reservedPeeringRanges":["computeaddress-3qfydjnzu9k8a"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 83.547695ms
[...]
    - id: 32
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-3qfydjnzu9k8a&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-3qfydjnzu9k8a","reservedPeeringRanges":["computeaddress-3qfydjnzu9k8a"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 334.206499ms
[...]
    - id: 36
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a/instances/alloydbinstance-3qfydjnzu9k8a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-3qfydjnzu9k8a/instances/alloydbinstance-3qfydjnzu9k8a",
              "uid": "94c324f9-08dc-464d-9b9e-967bd2236087",
              "createTime": "2024-04-02T07:30:28.140045185Z",
              "updateTime": "2024-04-02T07:36:42.577029663Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "ZONAL",
              "ipAddress": "10.37.0.2",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west1-a"
              },
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 5,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 106.172757ms
[...]
    - id: 41
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4205501597018885411",
              "creationTimestamp": "2024-04-02T00:29:16.423-07:00",
              "name": "computenetwork-3qfydjnzu9k8a",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4205501597018885411",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/y917da5ff7aaba436p-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-04-02T00:31:03.525-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 213.586606ms
[...]
    - id: 49
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/123456789/global/networks/computenetwork-3qfydjnzu9k8a/removePeering?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "7166752290570111866",
              "name": "operation-1712043413360-615182b7e5021-6ad00179-68e5bb6d",
              "operationType": "removePeering",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qfydjnzu9k8a",
              "targetId": "4205501597018885411",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-02T00:36:53.732-07:00",
              "startTime": "2024-04-02T00:36:53.742-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712043413360-615182b7e5021-6ad00179-68e5bb6d"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 614.338298ms
[...]
