---
version: 2
interactions:
    - id: 0
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters?alt=json&clusterId=alloydbcluster-7v2m2gyfzdaj
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711655227072-614bdc9c9a0a5-597a3d87-d7587225",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:47:07.190313644Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 173.900271ms
    - id: 1
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1711655227072-614bdc9c9a0a5-597a3d87-d7587225?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711655227072-614bdc9c9a0a5-597a3d87-d7587225",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:47:07.190313644Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 56.28213ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-7v2m2gyfzdaj","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "1531070017790572500",
              "name": "operation-1711655227299-614bdc9cd16c5-296245b5-41653320",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj",
              "targetId": "5948733242263238612",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-03-28T12:47:07.771-07:00",
              "startTime": "2024-03-28T12:47:07.785-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711655227299-614bdc9cd16c5-296245b5-41653320"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 639.234424ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711655227299-614bdc9cd16c5-296245b5-41653320?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"1531070017790572500","name":"operation-1711655227299-614bdc9cd16c5-296245b5-41653320","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj","targetId":"5948733242263238612","status":"RUNNING","user":"user@google.com","progress":0,"insertTime":"2024-03-28T12:47:07.771-07:00","startTime":"2024-03-28T12:47:07.785-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711655227299-614bdc9cd16c5-296245b5-41653320"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 178.969432ms
    - id: 4
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1711655227072-614bdc9c9a0a5-597a3d87-d7587225?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711655227072-614bdc9c9a0a5-597a3d87-d7587225",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:47:07.190313644Z",
                "endTime": "2024-03-28T19:47:12.838068121Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
                "uid": "a4666a8f-7137-4a14-993c-41cfaf58857a",
                "createTime": "2024-03-28T19:47:07.187436231Z",
                "updateTime": "2024-03-28T19:47:07.187436231Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/402887772785/global/networks/computenetwork-7v2m2gyfzdaj",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-east1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-03-28T19:47:07.078356664Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/402887772785/global/networks/computenetwork-7v2m2gyfzdaj"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 39.008417ms
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
           [...]
[...]
    - id: 7
      request:
        host: alloydb.googleapis.com
        body: |
            {"instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj/instances?alt=json&instanceId=alloydbinstance-7v2m2gyfzdaj
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711655237852-614bdca6e1b64-27b4d6d7-9fab5f56",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:47:18.072050692Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj/instances/alloydbinstance-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 317.368706ms
[...]
    - id: 9
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1711655237852-614bdca6e1b64-27b4d6d7-9fab5f56?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711655237852-614bdca6e1b64-27b4d6d7-9fab5f56",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:47:18.072050692Z",
                "endTime": "2024-03-28T19:47:25.842239216Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj/instances/alloydbinstance-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/402887772785/global/networks/computenetwork-7v2m2gyfzdaj\": service networking config validation failed NETWORK_NOT_PEERED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/402887772785/global/networks/computenetwork-7v2m2gyfzdaj",
                        "description": "service networking config validation failed NETWORK_NOT_PEERED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "6e82c4fe165b1ada"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "6e82c4fe165b1ada"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 45.266558ms
[...]
    - id: 11
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "5948733242263238612",
              "creationTimestamp": "2024-03-28T12:47:07.757-07:00",
              "name": "computenetwork-7v2m2gyfzdaj",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/5948733242263238612",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 154.287577ms
[...]
    - id: 15
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress7v2m2gyfzdaj","network":"projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "8872162556885104573",
              "name": "operation-1711655250410-614bdcb2dbd57-323e2280-38cb3853",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress7v2m2gyfzdaj",
              "targetId": "5021189570988373949",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-03-28T12:47:31.000-07:00",
              "startTime": "2024-03-28T12:47:31.013-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711655250410-614bdcb2dbd57-323e2280-38cb3853"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 808.219742ms
[...]
    - id: 19
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "5021189570988373949",
              "creationTimestamp": "2024-03-28T12:47:30.966-07:00",
              "name": "computeaddress7v2m2gyfzdaj",
              "description": "",
              "address": "10.109.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress7v2m2gyfzdaj",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 217.597308ms
    - id: 20
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress7v2m2gyfzdaj/setLabels?alt=json
        method: POST
      response:
        body: |
            {
         [...]
[...]
    - id: 22
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"402887772785","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 104.721609ms
[...]
    - id: 24
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F402887772785%2Fglobal%2Fnetworks%2Fcomputenetwork-7v2m2gyfzdaj&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 292.0462ms
[...]
    - id: 28
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/402887772785/global/networks/computenetwork-7v2m2gyfzdaj","reservedPeeringRanges":["computeaddress7v2m2gyfzdaj"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-402887772785-91780481-c788-42b9-899f-c6df8c903bf0"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 342.222349ms
    - id: 29
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-402887772785-91780481-c788-42b9-899f-c6df8c903bf0?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-402887772785-91780481-c788-42b9-899f-c6df8c903bf0"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 199.163074ms
[...]
    - id: 36
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-402887772785-91780481-c788-42b9-899f-c6df8c903bf0?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-402887772785-91780481-c788-42b9-899f-c6df8c903bf0","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/402887772785/global/networks/computenetwork-7v2m2gyfzdaj","reservedPeeringRanges":["computeaddress7v2m2gyfzdaj"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 77.632393ms
[...]
    - id: 38
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F402887772785%2Fglobal%2Fnetworks%2Fcomputenetwork-7v2m2gyfzdaj&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/402887772785/global/networks/computenetwork-7v2m2gyfzdaj","reservedPeeringRanges":["computeaddress7v2m2gyfzdaj"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 257.387852ms
[...]
    - id: 41
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterName":"projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"type":"ON_DEMAND"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/backups?alt=json&backupId=alloydbbackup-7v2m2gyfzdaj
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711655726186-614bde7897e3e-d2e0c35c-01cfdd67",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:55:26.259286679Z",
                "target": "projects/example-project/locations/us-east1/backups/alloydbbackup-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 127.204417ms
[...]
    - id: 44
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj/instances/alloydbinstance-7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj/instances/alloydbinstance-7v2m2gyfzdaj",
              "uid": "44732607-ffc7-4170-997f-145dab7ffaf5",
              "createTime": "2024-03-28T19:48:30.575157065Z",
              "updateTime": "2024-03-28T19:55:29.830635271Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.109.0.2",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-east1-c"
              },
              "nodes": [
                {
                  "zoneId": "us-east1-d"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 5,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 62.064627ms
[...]
    - id: 47
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/backups/alloydbbackup-7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/backups/alloydbbackup-7v2m2gyfzdaj",
              "uid": "9f9d75e5-77f2-4c94-b7d1-ea5890ee9696",
              "createTime": "2024-03-28T19:55:26.253838579Z",
              "updateTime": "2024-03-28T19:55:53.978067584Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "type": "ON_DEMAND",
              "clusterName": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
              "reconciling": false,
              "encryptionInfo": {
                "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
              },
              "sizeBytes": "33478822",
              "clusterUid": "a4666a8f-7137-4a14-993c-41cfaf58857a",
              "expiryTime": "2025-03-28T19:55:27.446221Z",
              "databaseVersion": "POSTGRES_15"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 51.193736ms
[...]
    - id: 49
      request:
        host: alloydb.googleapis.com
        body: |
            {"backup_source":{"backupName":"projects/example-project/locations/us-east1/backups/alloydbbackup-7v2m2gyfzdaj"},"cluster":{"clusterType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters:restore?alt=json&clusterId=restored-alloydbcluster-7v2m2gyfzdaj
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711655757022-614bde96003bc-7f709d21-7dd4e933",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:55:57.175248778Z",
                "target": "projects/example-project/locations/us-east1/clusters/restored-alloydbcluster-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 219.543118ms
[...]
    - id: 52
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/restored-alloydbcluster-7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/restored-alloydbcluster-7v2m2gyfzdaj",
              "uid": "4d6bdfe1-7084-40a8-bac5-6174558f7d88",
              "createTime": "2024-03-28T19:55:57.172511977Z",
              "updateTime": "2024-03-28T19:56:40.386317853Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "databaseVersion": "POSTGRES_15",
[...]
