---
version: 2
interactions:
    - id: 0
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-east1/keyRings/kmskeyring-315j6cucha58a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/keyRings/kmskeyring-315j6cucha58a",
              "createTime": "2024-03-28T19:14:06.564134984Z"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 120.364355ms
[...]
    - id: 2
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-east1/keyRings/kmskeyring-315j6cucha58a/cryptoKeys/kmscryptokey-315j6cucha58a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/keyRings/kmskeyring-315j6cucha58a/cryptoKeys/kmscryptokey-315j6cucha58a",
              "primary": {
                "name": "projects/example-project/locations/us-east1/keyRings/kmskeyring-315j6cucha58a/cryptoKeys/kmscryptokey-315j6cucha58a/cryptoKeyVersions/1",
                "state": "DESTROY_SCHEDULED",
                "createTime": "2024-03-28T19:14:06.985081208Z",
                "destroyTime": "2024-04-27T19:22:46.612153Z",
                "protectionLevel": "SOFTWARE",
                "algorithm": "GOOGLE_SYMMETRIC_ENCRYPTION",
                "generateTime": "2024-03-28T19:14:06.985081208Z"
              },
              "purpose": "ENCRYPT_DECRYPT",
              "createTime": "2024-03-28T19:14:06.985081208Z",
              "labels": {
                "key-one": "value-one",
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "versionTemplate": {
                "protectionLevel": "SOFTWARE",
                "algorithm": "GOOGLE_SYMMETRIC_ENCRYPTION"
              },
              "destroyScheduledDuration": "2592000s"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 63.539612ms
[...]
    - id: 4
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/example-project/global/networks/computenetwork-315j6cucha58a"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters?alt=json&clusterId=alloydbcluster315j6cucha58a
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1712024431298-61513c0130629-1793e84a-9197fc28",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T02:20:31.428308587Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 207.001594ms
    - id: 5
      request:
        host: serviceusage.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://serviceusage.googleapis.com/v1beta1/projects/example-project/services/alloydb.googleapis.com:generateServiceIdentity?alt=json
        method: POST
      response:
        body: |
            {
              "name": "operations/finished.DONE_OPERATION",
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.api.serviceusage.v1beta1.ServiceIdentity",
                "email": "service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com",
                "uniqueId": "112468406547631776081"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 430.471866ms
    - id: 6
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-east1/keyRings/kmskeyring-315j6cucha58a/cryptoKeys/kmscryptokey-315j6cucha58a:getIamPolicy?alt=json&options.requestedPolicyVersion=3&prettyPrint=false
        method: GET
      response:
        body: '{"version":1,"etag":"BwYVA7F32JA=","bindings":[{"role":"roles/cloudkms.cryptoKeyEncrypterDecrypter","members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"]},{"role":"roles/cloudkms.cryptoKeyEncrypterDecrypterViaDelegation","members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"]}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 165.729979ms
    - id: 7
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1712024431298-61513c0130629-1793e84a-9197fc28?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1712024431298-61513c0130629-1793e84a-9197fc28",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T02:20:31.428308587Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 55.215353ms
[...]
    - id: 9
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-315j6cucha58a","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6670122520599254431",
              "name": "operation-1712024431389-61513c0146bcc-5de58e2f-23880be0",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-315j6cucha58a",
              "targetId": "9223007775186408863",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-01T19:20:32.852-07:00",
              "startTime": "2024-04-01T19:20:32.862-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712024431389-61513c0146bcc-5de58e2f-23880be0"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.635101556s
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712024431389-61513c0146bcc-5de58e2f-23880be0?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"6670122520599254431","name":"operation-1712024431389-61513c0146bcc-5de58e2f-23880be0","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-315j6cucha58a","targetId":"9223007775186408863","status":"RUNNING","user":"user@google.com","progress":0,"insertTime":"2024-04-01T19:20:32.852-07:00","startTime":"2024-04-01T19:20:32.862-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712024431389-61513c0146bcc-5de58e2f-23880be0"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 135.947873ms
    - id: 11
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1712024431298-61513c0130629-1793e84a-9197fc28?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1712024431298-61513c0130629-1793e84a-9197fc28",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T02:20:31.428308587Z",
                "endTime": "2024-04-02T02:20:37.043427531Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a",
                "uid": "085bcd79-7692-43eb-8d55-e22fb27f9546",
                "createTime": "2024-04-02T02:20:31.424913732Z",
                "updateTime": "2024-04-02T02:20:31.424913732Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-315j6cucha58a",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-east1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-04-02T02:20:31.303972807Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-315j6cucha58a"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 64.049382ms
    - id: 12
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a",
          [...]
[...]
    - id: 14
      request:
        host: alloydb.googleapis.com
        body: |
            {"instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a/instances?alt=json&instanceId=alloydbinstance315j6cucha58a
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1712024442233-61513c0b9e41a-1ff74fd8-82131201",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T02:20:42.322389080Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a/instances/alloydbinstance315j6cucha58a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 166.620789ms
[...]
    - id: 16
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1712024442233-61513c0b9e41a-1ff74fd8-82131201?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1712024442233-61513c0b9e41a-1ff74fd8-82131201",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T02:20:42.322389080Z",
                "endTime": "2024-04-02T02:20:50.278411618Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a/instances/alloydbinstance315j6cucha58a",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-315j6cucha58a\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-315j6cucha58a",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "6ab2c33f62067081"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "6ab2c33f62067081"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 70.379702ms
[...]
    - id: 20
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-315j6cucha58a?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "9223007775186408863",
              "creationTimestamp": "2024-04-01T19:20:32.839-07:00",
              "name": "computenetwork-315j6cucha58a",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-315j6cucha58a",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/9223007775186408863",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 149.446291ms
[...]
    - id: 22
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress315j6cucha58a","network":"projects/example-project/global/networks/computenetwork-315j6cucha58a","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "3025240344945415527",
              "name": "operation-1712024456301-61513c1908a6e-fa96ee7d-9ecfce25",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress315j6cucha58a",
              "targetId": "2500687304661063015",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-01T19:20:56.724-07:00",
              "startTime": "2024-04-01T19:20:56.733-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712024456301-61513c1908a6e-fa96ee7d-9ecfce25"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 583.056908ms
[...]
    - id: 26
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress315j6cucha58a?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "2500687304661063015",
              "creationTimestamp": "2024-04-01T19:20:56.720-07:00",
              "name": "computeaddress315j6cucha58a",
              "description": "",
              "address": "10.58.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress315j6cucha58a",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-315j6cucha58a"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 260.167898ms
    - id: 27
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress315j6cucha58a/setLabels?alt=json
        method: POST
      response:
        body: |
            {
        [...]
[...]
    - id: 31
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 95.858378ms
[...]
    - id: 33
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-315j6cucha58a&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 327.617989ms
[...]
    - id: 35
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-315j6cucha58a","reservedPeeringRanges":["computeaddress315j6cucha58a"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-b69b7a66-7f2b-4488-a646-bf7dcf85c5e4"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 440.363926ms
    - id: 36
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-b69b7a66-7f2b-4488-a646-bf7dcf85c5e4?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-b69b7a66-7f2b-4488-a646-bf7dcf85c5e4"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 110.613216ms
[...]
    - id: 40
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-b69b7a66-7f2b-4488-a646-bf7dcf85c5e4?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-b69b7a66-7f2b-4488-a646-bf7dcf85c5e4","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-315j6cucha58a","reservedPeeringRanges":["computeaddress315j6cucha58a"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 120.860056ms
[...]
    - id: 42
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-315j6cucha58a&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-315j6cucha58a","reservedPeeringRanges":["computeaddress315j6cucha58a"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 208.098984ms
[...]
    - id: 49
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a/instances/alloydbinstance315j6cucha58a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster315j6cucha58a/instances/alloydbinstance315j6cucha58a",
              "uid": "681e37c0-a116-4c8f-89d7-59f0731eed30",
              "createTime": "2024-04-02T02:21:28.202621102Z",
              "updateTime": "2024-04-02T02:27:10.043500389Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.120.0.14",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-east1-b"
              },
              "nodes": [
                {
                  "zoneId": "us-east1-c"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 5,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 103.834748ms
[...]
    - id: 51
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-315j6cucha58a?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "9223007775186408863",
              "creationTimestamp": "2024-04-01T19:20:32.839-07:00",
              "name": "computenetwork-315j6cucha58a",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-315j6cucha58a",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/9223007775186408863",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
[...]
