---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-2zp4nziwygzyb","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "4272850283402760368",
              "name": "operation-1712041567413-61517bd77651b-eb427d71-524a3ed0",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb",
              "targetId": "4948508742835900592",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-02T00:06:08.049-07:00",
              "startTime": "2024-04-02T00:06:08.065-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712041567413-61517bd77651b-eb427d71-524a3ed0"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 890.280896ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712041567413-61517bd77651b-eb427d71-524a3ed0?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"4272850283402760368","name":"operation-1712041567413-61517bd77651b-eb427d71-524a3ed0","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb","targetId":"4948508742835900592","status":"RUNNING","user":"user@google.com","progress":0,"insertTime":"2024-04-02T00:06:08.049-07:00","startTime":"2024-04-02T00:06:08.065-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712041567413-61517bd77651b-eb427d71-524a3ed0"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 179.487045ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712041567413-61517bd77651b-eb427d71-524a3ed0?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"4272850283402760368","name":"operation-1712041567413-61517bd77651b-eb427d71-524a3ed0","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb","targetId":"4948508742835900592","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-04-02T00:06:08.049-07:00","startTime":"2024-04-02T00:06:08.065-07:00","endTime":"2024-04-02T00:06:23.593-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712041567413-61517bd77651b-eb427d71-524a3ed0"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 183.435974ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4948508742835900592",
              "creationTimestamp": "2024-04-02T00:06:08.011-07:00",
              "name": "computenetwork-2zp4nziwygzyb",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4948508742835900592",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 148.936965ms
[...]
    - id: 5
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-2zp4nziwygzyb","network":"projects/example-project/global/networks/computenetwork-2zp4nziwygzyb","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "357927003995115672",
              "name": "operation-1712041590861-61517bedd2d3e-6e14271a-e3d6e801",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2zp4nziwygzyb",
              "targetId": "3893935271978602648",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-02T00:06:31.406-07:00",
              "startTime": "2024-04-02T00:06:31.419-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712041590861-61517bedd2d3e-6e14271a-e3d6e801"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 792.116366ms
    - id: 6
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-2zp4nziwygzyb"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters?alt=json&clusterId=alloydbcluster-2zp4nziwygzyb
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1712041591843-61517beec2b6c-36fb4c57-537e3fb3",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T07:06:31.958940625Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 570.387273ms
[...]
    - id: 8
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/operations/operation-1712041591843-61517beec2b6c-36fb4c57-537e3fb3?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1712041591843-61517beec2b6c-36fb4c57-537e3fb3",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T07:06:31.958940625Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 431.780238ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "3893935271978602648",
              "creationTimestamp": "2024-04-02T00:06:31.369-07:00",
              "name": "computeaddress-2zp4nziwygzyb",
              "description": "",
              "address": "10.203.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2zp4nziwygzyb",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 255.501561ms
    - id: 11
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/operations/operation-1712041591843-61517beec2b6c-36fb4c57-537e3fb3?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1712041591843-61517beec2b6c-36fb4c57-537e3fb3",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T07:06:31.958940625Z",
                "endTime": "2024-04-02T07:06:37.490789898Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb",
                "uid": "1671f44f-c14d-4b8f-b6d1-0da01ecbc5ea",
                "createTime": "2024-04-02T07:06:31.954811746Z",
                "updateTime": "2024-04-02T07:06:31.954811746Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-2zp4nziwygzyb",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west2"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-04-02T07:06:31.848681534Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-2zp4nziwygzyb"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 436.554217ms
    - id: 12
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2zp4nziwygzyb/setLabels?alt=json
        method: POST
      response:
        body: |
            {
       [...]
    - id: 13
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb",
        [...]
[...]
    - id: 15
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 98.216537ms
[...]
    - id: 18
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-2zp4nziwygzyb&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 236.547433ms
[...]
    - id: 20
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-2zp4nziwygzyb","reservedPeeringRanges":["computeaddress-2zp4nziwygzyb"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-856ee9ef-2b47-4a9d-9466-9d070be9d352"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 468.188615ms
    - id: 21
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/instances?alt=json&instanceId=alloydbinstance-2zp4nziwygzyb
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1712041606520-61517bfcc1d9b-75614cb5-553a0076",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T07:06:46.864353620Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/instances/alloydbinstance-2zp4nziwygzyb",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 800.161016ms
    - id: 22
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-856ee9ef-2b47-4a9d-9466-9d070be9d352?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-856ee9ef-2b47-4a9d-9466-9d070be9d352"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 135.904116ms
[...]
    - id: 24
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/operations/operation-1712041606520-61517bfcc1d9b-75614cb5-553a0076?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1712041606520-61517bfcc1d9b-75614cb5-553a0076",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T07:06:46.864353620Z",
                "endTime": "2024-04-02T07:06:56.656650441Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/instances/alloydbinstance-2zp4nziwygzyb",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-2zp4nziwygzyb\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-2zp4nziwygzyb",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "a6566b05f96f4051"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "a6566b05f96f4051"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 394.191327ms
[...]
    - id: 30
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-856ee9ef-2b47-4a9d-9466-9d070be9d352?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-856ee9ef-2b47-4a9d-9466-9d070be9d352","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-2zp4nziwygzyb","reservedPeeringRanges":["computeaddress-2zp4nziwygzyb"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 79.081827ms
[...]
    - id: 32
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-2zp4nziwygzyb&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-2zp4nziwygzyb","reservedPeeringRanges":["computeaddress-2zp4nziwygzyb"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 242.205142ms
    - id: 33
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4948508742835900592",
              "creationTimestamp": "2024-04-02T00:06:08.011-07:00",
              "name": "computenetwork-2zp4nziwygzyb",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4948508742835900592",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/m3c56f1b79b50b19fp-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-04-02T00:07:58.263-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 171.165402ms
[...]
    - id: 37
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/instances/alloydbinstance-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/instances/alloydbinstance-2zp4nziwygzyb",
              "uid": "581d6d6c-0511-42e1-a5e5-53ae0356cb46",
              "createTime": "2024-04-02T07:07:17.426650584Z",
              "updateTime": "2024-04-02T07:14:11.514627852Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.203.0.2",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west2-a"
              },
              "nodes": [
                {
                  "zoneId": "us-west2-b"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 5,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 390.93292ms
[...]
    - id: 41
      request:
        host: alloydb.googleapis.com
        body: |
            {"databaseRoles":["pg_monitor","pg_signal_backend"],"password":"pg-built-in","userType":"ALLOYDB_BUILT_IN"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/users?alt=json&userId=alloydbuser-2zp4nziwygzyb
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/users/alloydbuser-2zp4nziwygzyb",
              "databaseRoles": [
                "pg_monitor",
                "pg_signal_backend"
              ],
              "userType": "ALLOYDB_BUILT_IN"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 930.58555ms
    - id: 42
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/users/alloydbuser-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/users/alloydbuser-2zp4nziwygzyb",
              "databaseRoles": [
                "pg_monitor",
                "pg_signal_backend"
              ],
              "userType": "ALLOYDB_BUILT_IN"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 549.560581ms
[...]
    - id: 60
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
[...]
