---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-qc16y57kt12u","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "5452171912596190203",
              "name": "operation-1711656211945-614be047d9924-45836036-5f2a2125",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-qc16y57kt12u",
              "targetId": "3491319514323776507",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-03-28T13:03:32.485-07:00",
              "startTime": "2024-03-28T13:03:32.497-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711656211945-614be047d9924-45836036-5f2a2125"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 727.109382ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711656211945-614be047d9924-45836036-5f2a2125?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"5452171912596190203","name":"operation-1711656211945-614be047d9924-45836036-5f2a2125","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-qc16y57kt12u","targetId":"3491319514323776507","status":"RUNNING","user":"user@google.com","progress":0,"insertTime":"2024-03-28T13:03:32.485-07:00","startTime":"2024-03-28T13:03:32.497-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711656211945-614be047d9924-45836036-5f2a2125"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 184.768509ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711656211945-614be047d9924-45836036-5f2a2125?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"5452171912596190203","name":"operation-1711656211945-614be047d9924-45836036-5f2a2125","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-qc16y57kt12u","targetId":"3491319514323776507","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-03-28T13:03:32.485-07:00","startTime":"2024-03-28T13:03:32.497-07:00","endTime":"2024-03-28T13:03:44.984-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711656211945-614be047d9924-45836036-5f2a2125"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 137.563535ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-qc16y57kt12u?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "3491319514323776507",
              "creationTimestamp": "2024-03-28T13:03:32.453-07:00",
              "name": "computenetwork-qc16y57kt12u",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-qc16y57kt12u",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/3491319514323776507",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 141.957589ms
[...]
    - id: 5
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-qc16y57kt12u","network":"projects/example-project/global/networks/computenetwork-qc16y57kt12u","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "8922439706045084612",
              "name": "operation-1711656234899-614be05dbd931-23113fa7-72c23a0f",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-qc16y57kt12u",
              "targetId": "2281793690830140356",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-03-28T13:03:55.579-07:00",
              "startTime": "2024-03-28T13:03:55.592-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711656234899-614be05dbd931-23113fa7-72c23a0f"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 920.764081ms
    - id: 6
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-qc16y57kt12u"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters?alt=json&clusterId=alloydbcluster-qc16y57kt12u
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1711656235894-614be05eb0546-4aea547b-62e906ab",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T20:03:55.979355859Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 537.802682ms
[...]
    - id: 8
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1711656235894-614be05eb0546-4aea547b-62e906ab?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1711656235894-614be05eb0546-4aea547b-62e906ab",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T20:03:55.979355859Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 446.462121ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-qc16y57kt12u?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "2281793690830140356",
              "creationTimestamp": "2024-03-28T13:03:55.502-07:00",
              "name": "computeaddress-qc16y57kt12u",
              "description": "",
              "address": "10.167.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-qc16y57kt12u",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-qc16y57kt12u"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 279.638403ms
    - id: 11
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1711656235894-614be05eb0546-4aea547b-62e906ab?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1711656235894-614be05eb0546-4aea547b-62e906ab",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T20:03:55.979355859Z",
                "endTime": "2024-03-28T20:04:00.985128695Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u",
                "uid": "153f89fb-2b49-40a6-a9d9-b44757c6527f",
                "createTime": "2024-03-28T20:03:55.976006461Z",
                "updateTime": "2024-03-28T20:03:55.976006461Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_14",
                "network": "projects/402887772785/global/networks/computenetwork-qc16y57kt12u",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-03-28T20:03:55.900569235Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/402887772785/global/networks/computenetwork-qc16y57kt12u"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 423.367855ms
    - id: 12
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-qc16y57kt12u/setLabels?alt=json
        method: POST
      response:
        body: |
            {
        [...]
    - id: 13
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u",
          [...]
[...]
    - id: 16
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"402887772785","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 114.716173ms
[...]
    - id: 18
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F402887772785%2Fglobal%2Fnetworks%2Fcomputenetwork-qc16y57kt12u&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 255.208959ms
[...]
    - id: 20
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u/instances?alt=json&instanceId=alloydbinstance-qc16y57kt12u
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1711656250562-614be06cad713-7fed54dd-a57d89da",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T20:04:10.913175762Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u/instances/alloydbinstance-qc16y57kt12u",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 800.97583ms
    - id: 21
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/402887772785/global/networks/computenetwork-qc16y57kt12u","reservedPeeringRanges":["computeaddress-qc16y57kt12u"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-402887772785-b04fca08-ebc0-4297-8b23-d0fde784c5ac"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 356.756091ms
    - id: 22
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-402887772785-b04fca08-ebc0-4297-8b23-d0fde784c5ac?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-402887772785-b04fca08-ebc0-4297-8b23-d0fde784c5ac"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 136.276183ms
[...]
    - id: 24
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1711656250562-614be06cad713-7fed54dd-a57d89da?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1711656250562-614be06cad713-7fed54dd-a57d89da",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T20:04:10.913175762Z",
                "endTime": "2024-03-28T20:04:19.092103413Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u/instances/alloydbinstance-qc16y57kt12u",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/402887772785/global/networks/computenetwork-qc16y57kt12u\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/402887772785/global/networks/computenetwork-qc16y57kt12u",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "b326925504efd954"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "b326925504efd954"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 429.712792ms
[...]
    - id: 30
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-402887772785-b04fca08-ebc0-4297-8b23-d0fde784c5ac?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-402887772785-b04fca08-ebc0-4297-8b23-d0fde784c5ac","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/402887772785/global/networks/computenetwork-qc16y57kt12u","reservedPeeringRanges":["computeaddress-qc16y57kt12u"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 73.181008ms
[...]
    - id: 32
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F402887772785%2Fglobal%2Fnetworks%2Fcomputenetwork-qc16y57kt12u&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/402887772785/global/networks/computenetwork-qc16y57kt12u","reservedPeeringRanges":["computeaddress-qc16y57kt12u"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 203.992884ms
[...]
    - id: 37
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u/instances/alloydbinstance-qc16y57kt12u?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u/instances/alloydbinstance-qc16y57kt12u",
              "uid": "9872968f-83ee-4a3d-8f9a-c0155c25e792",
              "createTime": "2024-03-28T20:04:43.584914565Z",
              "updateTime": "2024-03-28T20:11:34.086243592Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.167.0.2",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west1-b"
              },
              "nodes": [
                {
                  "zoneId": "us-west1-c"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 5,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 143.907965ms
[...]
    - id: 40
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","databaseFlags":{"enable_google_adaptive_autovacuum":"off"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u/instances/alloydbinstance-qc16y57kt12u?alt=json&updateMask=databaseFlags
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1711656700677-614be219f0dc7-23e00332-e8ffd659",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T20:11:40.728120922Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-qc16y57kt12u/instances/alloydbinstance-qc16y57kt12u",
                "verb": "update",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 181.894311ms
[...]
    - id: 47
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-qc16y57kt12u?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "3491319514323776507",
              "creationTimestamp": "2024-03-28T13:03:32.453-07:00",
              "name": "computenetwork-qc16y57kt12u",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-qc16y57kt12u",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/3491319514323776507",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/mcef6caa645efa493p-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-03-28T13:05:21.316-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 158.607063ms
[...]
    - id: 55
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/402887772785/global/networks/computenetwork-qc16y57kt12u/removePeering?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "447860535386993024",
              "name": "operation-1711656815342-614be2874b28f-0c4a2886-12ed377c",
[...]
