---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-1kbjhjcgq43ud","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "7875570062191943545",
              "name": "operation-1712021910181-6151329cdd848-0cc82355-605c8bb3",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud",
              "targetId": "5881298583518895993",
              "status": "RUNNING",
              "user": "yuhou@google.com",
              "progress": 0,
              "insertTime": "2024-04-01T18:38:30.683-07:00",
              "startTime": "2024-04-01T18:38:30.698-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712021910181-6151329cdd848-0cc82355-605c8bb3"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 775.419698ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712021910181-6151329cdd848-0cc82355-605c8bb3?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7875570062191943545","name":"operation-1712021910181-6151329cdd848-0cc82355-605c8bb3","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud","targetId":"5881298583518895993","status":"RUNNING","user":"yuhou@google.com","progress":0,"insertTime":"2024-04-01T18:38:30.683-07:00","startTime":"2024-04-01T18:38:30.698-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712021910181-6151329cdd848-0cc82355-605c8bb3"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 213.938213ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712021910181-6151329cdd848-0cc82355-605c8bb3?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7875570062191943545","name":"operation-1712021910181-6151329cdd848-0cc82355-605c8bb3","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud","targetId":"5881298583518895993","status":"DONE","user":"yuhou@google.com","progress":100,"insertTime":"2024-04-01T18:38:30.683-07:00","startTime":"2024-04-01T18:38:30.698-07:00","endTime":"2024-04-01T18:38:42.338-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712021910181-6151329cdd848-0cc82355-605c8bb3"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 141.493396ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "5881298583518895993",
              "creationTimestamp": "2024-04-01T18:38:30.644-07:00",
              "name": "computenetwork-1kbjhjcgq43ud",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/5881298583518895993",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 126.923536ms
[...]
    - id: 5
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-1kbjhjcgq43ud","network":"projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "815157462706872130",
              "name": "operation-1712021933288-615132b2e6c20-c23f2940-ba4a7c82",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1kbjhjcgq43ud",
              "targetId": "8260250019238960962",
              "status": "RUNNING",
              "user": "yuhou@google.com",
              "progress": 0,
              "insertTime": "2024-04-01T18:38:53.923-07:00",
              "startTime": "2024-04-01T18:38:53.936-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712021933288-615132b2e6c20-c23f2940-ba4a7c82"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 868.622124ms
    - id: 6
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters?alt=json&clusterId=alloydbcluster-1-1kbjhjcgq43ud
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712021934297-615132b3dd236-4f2c8624-38b00fcb",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T01:38:54.612922790Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 766.928128ms
[...]
    - id: 8
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1712021934297-615132b3dd236-4f2c8624-38b00fcb?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712021934297-615132b3dd236-4f2c8624-38b00fcb",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T01:38:54.612922790Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 424.165658ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "8260250019238960962",
              "creationTimestamp": "2024-04-01T18:38:53.890-07:00",
              "name": "computeaddress-1kbjhjcgq43ud",
              "description": "",
              "address": "10.154.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1kbjhjcgq43ud",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 170.644105ms
    - id: 11
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1kbjhjcgq43ud/setLabels?alt=json
        method: POST
      response:
        body: |
            {
       [...]
    - id: 12
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1712021934297-615132b3dd236-4f2c8624-38b00fcb?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712021934297-615132b3dd236-4f2c8624-38b00fcb",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T01:38:54.612922790Z",
                "endTime": "2024-04-02T01:39:00.237250100Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud",
                "uid": "9140910b-6206-455c-8839-ae5b7b54283b",
                "createTime": "2024-04-02T01:38:54.608589044Z",
                "updateTime": "2024-04-02T01:38:54.608589044Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-04-02T01:38:54.305388654Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 431.690907ms
[...]
    - id: 14
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud",
    [...]
    - id: 15
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 91.647137ms
[...]
    - id: 17
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-1kbjhjcgq43ud&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 222.104684ms
[...]
    - id: 20
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud","reservedPeeringRanges":["computeaddress-1kbjhjcgq43ud"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-67460bb7-9714-482a-9b61-62e5f377da68"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 387.354569ms
    - id: 21
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"SECONDARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-1kbjhjcgq43ud"},"secondaryConfig":{"primaryClusterName":"projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters:createsecondary?alt=json&cluster_id=alloydbcluster-2-1kbjhjcgq43ud
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712021948772-615132c1ab182-2b6479ef-9bfd1b49",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T01:39:08.957400424Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbcluster-2-1kbjhjcgq43ud",
                "verb": "createsecondary",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 445.559937ms
    - id: 22
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-67460bb7-9714-482a-9b61-62e5f377da68?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-67460bb7-9714-482a-9b61-62e5f377da68"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 147.691806ms
    - id: 23
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud/instances?alt=json&instanceId=alloydbinstance-1kbjhjcgq43ud
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712021949377-615132c23eae4-9c138141-53062545",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T01:39:09.447806497Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud/instances/alloydbinstance-1kbjhjcgq43ud",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 558.550684ms
    - id: 24
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/operations/operation-1712021948772-615132c1ab182-2b6479ef-9bfd1b49?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712021948772-615132c1ab182-2b6479ef-9bfd1b49",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T01:39:08.957400424Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbcluster-2-1kbjhjcgq43ud",
                "verb": "createsecondary",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 226.121484ms
[...]
    - id: 27
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters/alloydbcluster-2-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/clusters/alloydbcluster-2-1kbjhjcgq43ud"[...]
    - id: 28
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1712021949377-615132c23eae4-9c138141-53062545?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712021949377-615132c23eae4-9c138141-53062545",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T01:39:09.447806497Z",
                "endTime": "2024-04-02T01:39:17.257460920Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud/instances/alloydbinstance-1kbjhjcgq43ud",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "8ece56ff68e9ef17"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "8ece56ff68e9ef17"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 96.426987ms
[...]
    - id: 32
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-67460bb7-9714-482a-9b61-62e5f377da68?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-67460bb7-9714-482a-9b61-62e5f377da68","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud","reservedPeeringRanges":["computeaddress-1kbjhjcgq43ud"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 75.030438ms
[...]
    - id: 34
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-1kbjhjcgq43ud&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud","reservedPeeringRanges":["computeaddress-1kbjhjcgq43ud"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 258.308963ms
[...]
    - id: 38
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud/instances/alloydbinstance-1kbjhjcgq43ud?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster-1-1kbjhjcgq43ud/instances/alloydbinstance-1kbjhjcgq43ud",
              "uid": "9eb72c18-d995-4562-ab2b-b0af283a106b",
              "createTime": "2024-04-02T01:39:24.086156036Z",
              "updateTime": "2024-04-02T01:45:06.348708672Z",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.68.0.8",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west1-a"
              },
              "nodes": [
                {
                  "zoneId": "us-west1-b"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 5,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 114.881526ms
[...]
    - id: 41
      request:
        host: alloydb.googleapis.com
        body: |
            {"automatedBackupPolicy":{"backupWindow":"3600s","labels":{"source":"kcc-test"},"location":"us-central1","timeBasedRetention":{"retentionPeriod":"1209600s"},"weeklySchedule":{"daysOfWeek":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"],"startTimes":[{"hours":23}]}},"clusterType":"SECONDARY","continuousBackupConfig":{"enabled":true,"recoveryWindowDays":14},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/123456789/global/networks/computenetwork-1kbjhjcgq43ud","networkConfig":{"network":"projects/123456789/global/[...]
[...]
    - id: 49
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
[...]
