---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":true,"name":"computenetwork1chwh6gcmj758","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6100861791341258199",
              "name": "operation-1712036663554-61516992c7022-100722ee-c0bd1934",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758",
              "targetId": "6721471062236079575",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-01T22:44:24.257-07:00",
              "startTime": "2024-04-01T22:44:24.269-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712036663554-61516992c7022-100722ee-c0bd1934"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 841.020483ms
    - id: 1
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/example-project/global/networks/computenetwork1chwh6gcmj758"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters?alt=json&clusterId=alloydbcluster1chwh6gcmj758
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712036664617-61516993ca878-652e048f-965c1f5b",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T05:44:25.007523564Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 843.046123ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712036663554-61516992c7022-100722ee-c0bd1934?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"6100861791341258199","name":"operation-1712036663554-61516992c7022-100722ee-c0bd1934","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758","targetId":"6721471062236079575","status":"RUNNING","user":"user@google.com","progress":0,"insertTime":"2024-04-01T22:44:24.257-07:00","startTime":"2024-04-01T22:44:24.269-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712036663554-61516992c7022-100722ee-c0bd1934"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 153.809674ms
    - id: 3
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1712036664617-61516993ca878-652e048f-965c1f5b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712036664617-61516993ca878-652e048f-965c1f5b",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T05:44:25.007523564Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 430.127686ms
    - id: 4
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1712036664617-61516993ca878-652e048f-965c1f5b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712036664617-61516993ca878-652e048f-965c1f5b",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T05:44:25.007523564Z",
                "endTime": "2024-04-02T05:44:30.561732159Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758",
                "uid": "0d60ec64-75cd-426d-961e-d655d67ad566",
                "createTime": "2024-04-02T05:44:25.003928048Z",
                "updateTime": "2024-04-02T05:44:25.003928048Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork1chwh6gcmj758",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-04-02T05:44:24.624413201Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork1chwh6gcmj758"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 440.144975ms
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758",
           [...]
[...]
    - id: 7
      request:
        host: alloydb.googleapis.com
        body: |
            {"instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances?alt=json&instanceId=alloydbinstance1chwh6gcmj758
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712036679879-615169a258b93-0847fad6-e9fc6826",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T05:44:40.236142538Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbinstance1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 819.466096ms
[...]
    - id: 9
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/operations/operation-1712036679879-615169a258b93-0847fad6-e9fc6826?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712036679879-615169a258b93-0847fad6-e9fc6826",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T05:44:40.236142538Z",
                "endTime": "2024-04-02T05:44:48.724734423Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbinstance1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork1chwh6gcmj758\": service networking config validation failed NETWORK_NOT_PEERED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork1chwh6gcmj758",
                        "description": "service networking config validation failed NETWORK_NOT_PEERED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "55d5b2d543f787ef"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "55d5b2d543f787ef"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 130.293356ms
[...]
    - id: 16
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "6721471062236079575",
              "creationTimestamp": "2024-04-01T22:44:24.243-07:00",
              "name": "computenetwork1chwh6gcmj758",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/6721471062236079575",
              "autoCreateSubnetworks": true,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-east2/subnetworks/computenetwork1chwh6gcmj758",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/southamerica-east1/subnetworks/computenetwork1chwh6gcmj758",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-east1/subnetworks/computenetwork1chwh6gcmj758",
                "https://www.googleapis.com/compute/beta/proje[...]
[...]
    - id: 18
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress1chwh6gcmj758","network":"projects/example-project/global/networks/computenetwork1chwh6gcmj758","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "2811780891240965505",
              "name": "operation-1712036718244-615169c6ef29a-ec975bbc-e0cb86f9",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1chwh6gcmj758",
              "targetId": "8692518037831951745",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-01T22:45:18.787-07:00",
              "startTime": "2024-04-01T22:45:18.798-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712036718244-615169c6ef29a-ec975bbc-e0cb86f9"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 770.295861ms
[...]
    - id: 24
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1chwh6gcmj758?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "8692518037831951745",
              "creationTimestamp": "2024-04-01T22:45:18.754-07:00",
              "name": "computeaddress1chwh6gcmj758",
              "description": "",
              "address": "10.20.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1chwh6gcmj758",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 254.754734ms
    - id: 25
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1chwh6gcmj758/setLabels?alt=json
        method: POST
      response:
        body: |
            {
        [...]
[...]
    - id: 27
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 107.103169ms
[...]
    - id: 29
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork1chwh6gcmj758&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 285.393781ms
[...]
    - id: 31
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork1chwh6gcmj758","reservedPeeringRanges":["computeaddress1chwh6gcmj758"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-508ae82c-3952-442e-ae0b-ab12f6128366"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 477.150512ms
    - id: 32
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-508ae82c-3952-442e-ae0b-ab12f6128366?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-508ae82c-3952-442e-ae0b-ab12f6128366"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 110.152819ms
[...]
    - id: 39
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-508ae82c-3952-442e-ae0b-ab12f6128366?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-508ae82c-3952-442e-ae0b-ab12f6128366","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork1chwh6gcmj758","reservedPeeringRanges":["computeaddress1chwh6gcmj758"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 119.361658ms
[...]
    - id: 41
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork1chwh6gcmj758&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork1chwh6gcmj758","reservedPeeringRanges":["computeaddress1chwh6gcmj758"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 231.715217ms
[...]
    - id: 46
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbinstance1chwh6gcmj758?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbinstance1chwh6gcmj758",
              "uid": "b92e06ce-d3a2-44ed-937a-4637dc689f8d",
              "createTime": "2024-04-02T05:46:39.634763737Z",
              "updateTime": "2024-04-02T05:52:48.961835896Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.20.0.2",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west1-a"
              },
              "nodes": [
                {
                  "zoneId": "us-west1-b"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 5,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 129.352267ms
[...]
    - id: 48
      request:
        host: alloydb.googleapis.com
        body: |
            {"instanceType":"READ_POOL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2},"readPoolConfig":{"nodeCount":1}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances?alt=json&instanceId=alloydbreadinstance1chwh6gcmj758
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712037174614-61516b7a29b06-7e6aed1c-6b6e2e0d",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T05:52:54.727263505Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbreadinstance1chwh6gcmj758",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 252.615463ms
[...]
    - id: 53
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbreadinstance1chwh6gcmj758?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/cluste[...]
[...]
    - id: 55
      request:
        host: alloydb.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2},"readPoolConfig":{"nodeCount":3}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbreadinstance1chwh6gcmj758?alt=json&updateMask=readPoolConfig
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/operation-1712037453332-61516c83f8155-4e3cc1e2-c25a9842",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-02T05:57:33.393442018Z",
                "target": "projects/example-project/locations/us-west1/clusters/alloydbcluster1chwh6gcmj758/instances/alloydbreadinstance1chwh6gcmj758",
                "verb": "update",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 206.34048ms
[...]
    - id: 76
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/123456789/global/networks/computenetwork1chwh6gcmj758/removePeering?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "3150090723502989821",
              "name": "operation-1712037650088-61516d3f9c3a8-ca081632-86f42238",
              "operationType": "removePeering",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork1chwh6gcmj758",
              "targetId": "6721471062236079575",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-01T23:00:50.681-07:00",
              "startTime": "2024-04-01T23:00:50.698-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712037650088-61516d3f9c3a8-ca081632-86f42238"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.429692307s
[...]
