---
version: 2
interactions:
    - id: 0
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/example-project/global/networks/computenetwork-2yc29d28ihx0b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters?alt=json&clusterId=alloydbcluster2yc29d28ihx0b
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711652312765-614bd1c14d549-d229bd19-70d7555c",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T18:58:32.873358481Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 186.122886ms
    - id: 1
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1711652312765-614bd1c14d549-d229bd19-70d7555c?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711652312765-614bd1c14d549-d229bd19-70d7555c",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T18:58:32.873358481Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 63.541502ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-2yc29d28ihx0b","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "7610629021648814902",
              "name": "operation-1711652312694-614bd1c13bfe4-026d94aa-41f1f621",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b",
              "targetId": "5238894320691970870",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-03-28T11:58:33.176-07:00",
              "startTime": "2024-03-28T11:58:33.184-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711652312694-614bd1c13bfe4-026d94aa-41f1f621"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 623.51043ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711652312694-614bd1c13bfe4-026d94aa-41f1f621?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7610629021648814902","name":"operation-1711652312694-614bd1c13bfe4-026d94aa-41f1f621","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b","targetId":"5238894320691970870","status":"RUNNING","user":"user@google.com","progress":0,"insertTime":"2024-03-28T11:58:33.176-07:00","startTime":"2024-03-28T11:58:33.184-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711652312694-614bd1c13bfe4-026d94aa-41f1f621"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 149.277922ms
    - id: 4
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1711652312765-614bd1c14d549-d229bd19-70d7555c?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711652312765-614bd1c14d549-d229bd19-70d7555c",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T18:58:32.873358481Z",
                "endTime": "2024-03-28T18:58:38.673763825Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
                "uid": "75ea5af7-bdc7-4604-93b6-a05f9b4a7f37",
                "createTime": "2024-03-28T18:58:32.870476899Z",
                "updateTime": "2024-03-28T18:58:32.870476899Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/402887772785/global/networks/computenetwork-2yc29d28ihx0b",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-east1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-03-28T18:58:32.772638312Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/402887772785/global/networks/computenetwork-2yc29d28ihx0b"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 45.347055ms
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
           [...]
[...]
    - id: 7
      request:
        host: alloydb.googleapis.com
        body: |
            {"instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b/instances?alt=json&instanceId=alloydbinstance2yc29d28ihx0b
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711652323560-614bd1cb98d07-dc033b5b-553e7136",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T18:58:43.745880173Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b/instances/alloydbinstance2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 270.320473ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "5238894320691970870",
              "creationTimestamp": "2024-03-28T11:58:33.173-07:00",
              "name": "computenetwork-2yc29d28ihx0b",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/5238894320691970870",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 154.256093ms
[...]
    - id: 12
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress2yc29d28ihx0b","network":"projects/example-project/global/networks/computenetwork-2yc29d28ihx0b","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "1929419296667599626",
              "name": "operation-1711652325241-614bd1cd333a2-1d6e048a-57b7fa3e",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2yc29d28ihx0b",
              "targetId": "1802169057888699146",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-03-28T11:58:45.679-07:00",
              "startTime": "2024-03-28T11:58:45.690-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1711652325241-614bd1cd333a2-1d6e048a-57b7fa3e"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 598.271046ms
[...]
    - id: 14
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1711652323560-614bd1cb98d07-dc033b5b-553e7136?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711652323560-614bd1cb98d07-dc033b5b-553e7136",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T18:58:43.745880173Z",
                "endTime": "2024-03-28T18:58:51.850135570Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b/instances/alloydbinstance2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/402887772785/global/networks/computenetwork-2yc29d28ihx0b\": service networking config validation failed NETWORK_NOT_PEERED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/402887772785/global/networks/computenetwork-2yc29d28ihx0b",
                        "description": "service networking config validation failed NETWORK_NOT_PEERED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "44a6963ea756e231"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "44a6963ea756e231"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 43.840375ms
[...]
    - id: 18
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "1802169057888699146",
              "creationTimestamp": "2024-03-28T11:58:45.674-07:00",
              "name": "computeaddress2yc29d28ihx0b",
              "description": "",
              "address": "10.14.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2yc29d28ihx0b",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 266.484169ms
    - id: 19
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2yc29d28ihx0b/setLabels?alt=json
        method: POST
      response:
        body: |
            {
        [...]
[...]
    - id: 21
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"402887772785","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 110.593537ms
[...]
    - id: 23
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F402887772785%2Fglobal%2Fnetworks%2Fcomputenetwork-2yc29d28ihx0b&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 315.646265ms
[...]
    - id: 25
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/402887772785/global/networks/computenetwork-2yc29d28ihx0b","reservedPeeringRanges":["computeaddress2yc29d28ihx0b"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-402887772785-42f97d32-d5b2-4dad-9412-27abe9bddde9"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 399.124673ms
    - id: 26
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-402887772785-42f97d32-d5b2-4dad-9412-27abe9bddde9?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-402887772785-42f97d32-d5b2-4dad-9412-27abe9bddde9"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 135.402185ms
[...]
    - id: 33
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-402887772785-42f97d32-d5b2-4dad-9412-27abe9bddde9?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-402887772785-42f97d32-d5b2-4dad-9412-27abe9bddde9","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/402887772785/global/networks/computenetwork-2yc29d28ihx0b","reservedPeeringRanges":["computeaddress2yc29d28ihx0b"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 86.655196ms
[...]
    - id: 35
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F402887772785%2Fglobal%2Fnetworks%2Fcomputenetwork-2yc29d28ihx0b&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/402887772785/global/networks/computenetwork-2yc29d28ihx0b","reservedPeeringRanges":["computeaddress2yc29d28ihx0b"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 275.999623ms
[...]
    - id: 38
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b/instances/alloydbinstance2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b/instances/alloydbinstance2yc29d28ihx0b",
              "uid": "0ad37ddd-319b-45cd-b91c-c5b1fec420f8",
              "createTime": "2024-03-28T18:59:29.511025950Z",
              "updateTime": "2024-03-28T19:05:58.738359283Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.14.0.2",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-east1-c"
              },
              "nodes": [
                {
                  "zoneId": "us-east1-d"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 5,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 32.332605ms
[...]
    - id: 40
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterName":"projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"type":"ON_DEMAND"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/backups?alt=json&backupId=alloydbbackup2yc29d28ihx0b
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1711652812361-614bd39dc10c8-ac3b1a48-0541d296",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-03-28T19:06:52.445121823Z",
                "target": "projects/example-project/locations/us-east1/backups/alloydbbackup2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 133.999417ms
[...]
    - id: 43
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/backups/alloydbbackup2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/backups/alloydbbackup2yc29d28ihx0b",
              "uid": "4710ccb9-622a-4b89-a194-bd49f346f189",
              "createTime": "2024-03-28T19:06:52.442054873Z",
              "updateTime": "2024-03-28T19:07:22.679479644Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "type": "ON_DEMAND",
              "clusterName": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
              "reconciling": false,
              "encryptionInfo": {
                "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
              },
              "sizeBytes": "41389852",
              "clusterUid": "75ea5af7-bdc7-4604-93b6-a05f9b4a7f37",
              "expiryTime": "2025-03-28T19:06:53.679051Z",
              "databaseVersion": "POSTGRES_15"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 23.411183ms
[...]
    - id: 48
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "5238894320691970870",
              "creationTimestamp": "2024-03-28T11:58:33.173-07:00",
              "name": "computenetwork-2yc29d28ihx0b",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/5238894320691970870",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/o2dccc3d683d161c9p-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-03-28T12:00:03.789-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 163.721969ms
[...]
    - id: 60
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/402887772785/global/networks/computenetwork-2yc29d28ihx0b/removePeering?alt=json
        method: POST
      response:
[...]
