---
version: 2
interactions:
    - id: 0
      request:
        host: container.googleapis.com
        body: |
            {"cluster":{"autopilot":{"enabled":false},"autoscaling":{"enableNodeAutoprovisioning":false},"binaryAuthorization":{"enabled":false},"initialNodeCount":1,"ipAllocationPolicy":{"stackType":"IPV4","useIpAliases":false},"legacyAbac":{"enabled":false},"loggingService":"logging.googleapis.com/kubernetes","maintenancePolicy":{"window":{}},"masterAuthorizedNetworksConfig":{},"monitoringService":"monitoring.googleapis.com/kubernetes","name":"cluster-sample-xvluwamfsb3d","network":"projects/example-project/global/networks/default","networkConfig":{},"networkPolicy":{},"nodeConfig":{"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"]},"notificationConfig":{"pubsub":{}},"resourceLabels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"shieldedNodes":{"enabled":true}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operation-1715119337752-f42a51f4-5ef7-41f0-8e17-cb150b95a4f2","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"RUNNING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1715119337752-f42a51f4-5ef7-41f0-8e17-cb150b95a4f2","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-xvluwamfsb3d","startTime":"2024-05-07T22:02:17.75299983Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.973648718s
    - id: 1
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/operations/operation-1715119337752-f42a51f4-5ef7-41f0-8e17-cb150b95a4f2?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operation-1715119337752-f42a51f4-5ef7-41f0-8e17-cb150b95a4f2","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"DONE","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1715119337752-f42a51f4-5ef7-41f0-8e17-cb150b95a4f2","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-xvluwamfsb3d","startTime":"2024-05-07T22:02:17.75299983Z","endTime":"2024-05-07T22:08:27.735298313Z","progress":{"metrics":[{"name":"CLUSTER_CONFIGURING","intValue":"10"},{"name":"CLUSTER_CONFIGURING_TOTAL","intValue":"10"},{"name":"CLUSTER_DEPLOYING","intValue":"12"},{"name":"CLUSTER_DEPLOYING_TOTAL","intValue":"12"},{"name":"CLUSTER_HEALTHCHECKING","intValue":"1"},{"name":"CLUSTER_HEALTHCHECKING_TOTAL","intValue":"2"}]}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 87.314476ms
    - id: 2
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-xvluwamfsb3d/nodePools/default-pool?alt=json&prettyPrint=false
        method: DELETE
      response:
        body: '{"name":"operation-1715119707977-a312027c-c5a8-4662-a1bb-5deca1304105","zone":"us-central1-a","operationType":"DELETE_NODE_POOL","status":"PENDING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1715119707977-a312027c-c5a8-4662-a1bb-5deca1304105","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-xvluwamfsb3d/nodePools/default-pool","startTime":"2024-05-07T22:08:27.977027109Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 266.078836ms
[...]
    - id: 4
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-xvluwamfsb3d?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"cluster-sample-xvluwamfsb3d","initialNodeCount":1,"masterAuth":{"clusterCaCertificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVMRENDQXBTZ0F3SUJBZ0lRWTVTWG5UdUx1Y1daMnJaaU83cFdLakFOQmdrcWhraUc5dzBCQVFzRkFEQXYKTVMwd0t3WURWUVFERXlRMU5tRm1NbVkwTUMwd016Rm1MVFExWlRndFltWm1OeTA1WXpWbU5UazRZV0psT0RRdwpJQmNOTWpRd05UQTNNakV3TWpFMVdoZ1BNakExTkRBME16QXlNakF5TVRWYU1DOHhMVEFyQmdOVkJBTVRKRFUyCllXWXlaalF3TFRBek1XWXRORFZsT0MxaVptWTNMVGxqTldZMU9UaGhZbVU0TkRDQ0FhSXdEUVlKS29aSWh2Y04KQVFFQkJRQURnZ0dQQURDQ0FZb0NnZ0dCQUpNOFJrS2lob1J1WndPWnI1NlFGYjlLb2dSNjdSczdOV0FSR0lCNwpPMTRrMU8yRHh1bEw5VWFLMWVGZFJ[...]
[...]
    - id: 9
      request:
        host: container.googleapis.com
        body: |
            {"update":{"desiredLoggingService":"none","desiredMonitoringService":"none"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-xvluwamfsb3d?alt=json&prettyPrint=false
        method: PUT
      response:
        body: '{"name":"operation-1715119984822-13dddda1-19f6-43e1-864b-0a9ff22c46c8","zone":"us-central1-a","operationType":"UPDATE_CLUSTER","status":"RUNNING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1715119984822-13dddda1-19f6-43e1-864b-0a9ff22c46c8","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-xvluwamfsb3d","startTime":"2024-05-07T22:13:04.822227329Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 334.896749ms
[...]
