---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-22nqkauj7nurv","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "3987161054715561931",
              "name": "operation-1715108132351-617e1bafaee3e-f53d954b-3916fdd0",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv",
              "targetId": "6485911171409364939",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T11:55:32.765-07:00",
              "startTime": "2024-05-03T11:55:32.776-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715108132351-617e1bafaee3e-f53d954b-3916fdd0"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 597.054513ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715108132351-617e1bafaee3e-f53d954b-3916fdd0?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"3987161054715561931","name":"operation-1715108132351-617e1bafaee3e-f53d954b-3916fdd0","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv","targetId":"6485911171409364939","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-05-03T11:55:32.765-07:00","startTime":"2024-05-03T11:55:32.776-07:00","endTime":"2024-05-03T11:55:42.997-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715108132351-617e1bafaee3e-f53d954b-3916fdd0"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 232.805006ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "6485911171409364939",
              "creationTimestamp": "2024-05-03T11:55:32.750-07:00",
              "name": "computenetwork-22nqkauj7nurv",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/6485911171409364939",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 156.746ms
[...]
    - id: 4
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-22nqkauj7nurv","network":"projects/example-project/global/networks/computenetwork-22nqkauj7nurv","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6819709308030666718",
              "name": "operation-1715108144987-617e1bbbbbea0-6dfd7f2d-399362bf",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-22nqkauj7nurv",
              "targetId": "8526062981091936222",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T11:55:45.460-07:00",
              "startTime": "2024-05-03T11:55:45.472-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715108144987-617e1bbbbbea0-6dfd7f2d-399362bf"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 651.334929ms
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-22nqkauj7nurv"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters?alt=json&clusterId=alloydbcluster-22nqkauj7nurv
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1715108145982-617e1bbcaea83-6119559c-584ddf25",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T18:55:46.128380967Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 595.060663ms
[...]
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "8526062981091936222",
              "creationTimestamp": "2024-05-03T11:55:45.446-07:00",
              "name": "computeaddress-22nqkauj7nurv",
              "description": "",
              "address": "10.209.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-22nqkauj7nurv",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 180.479769ms
    - id: 8
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/operations/operation-1715108145982-617e1bbcaea83-6119559c-584ddf25?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1715108145982-617e1bbcaea83-6119559c-584ddf25",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T18:55:46.128380967Z",
                "endTime": "2024-05-07T18:55:52.071479310Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv",
                "uid": "7557a621-3068-4034-9f68-3b90e7124b70",
                "createTime": "2024-05-07T18:55:46.125643002Z",
                "updateTime": "2024-05-07T18:55:46.125643002Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-22nqkauj7nurv",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west2"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-05-07T18:55:45.987383199Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-22nqkauj7nurv"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 379.353047ms
    - id: 9
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-22nqkauj7nurv/setLabels?alt=json
        method: POST
      response:
        body: |
            {
        [...]
    - id: 10
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv",
        [...]
[...]
    - id: 12
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 102.543833ms
[...]
    - id: 15
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-22nqkauj7nurv&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 247.236614ms
[...]
    - id: 17
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/instances?alt=json&instanceId=alloydbinstance-22nqkauj7nurv
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1715108160554-617e1bca945a6-6a0dfad1-9f844a73",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T18:56:00.652198544Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/instances/alloydbinstance-22nqkauj7nurv",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 550.451306ms
    - id: 18
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-22nqkauj7nurv","reservedPeeringRanges":["computeaddress-22nqkauj7nurv"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-cfb98352-f687-48af-bf78-a22ffcf9f5c3"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 433.769032ms
    - id: 19
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/operations/operation-1715108160554-617e1bca945a6-6a0dfad1-9f844a73?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1715108160554-617e1bca945a6-6a0dfad1-9f844a73",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T18:56:00.652198544Z",
                "endTime": "2024-05-07T18:56:09.286473760Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/instances/alloydbinstance-22nqkauj7nurv",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-22nqkauj7nurv\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-22nqkauj7nurv",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "23d505e6c09ad403"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "23d505e6c09ad403"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 376.859136ms
[...]
    - id: 21
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-cfb98352-f687-48af-bf78-a22ffcf9f5c3?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-cfb98352-f687-48af-bf78-a22ffcf9f5c3","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-22nqkauj7nurv","reservedPeeringRanges":["computeaddress-22nqkauj7nurv"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 120.399782ms
[...]
    - id: 23
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-22nqkauj7nurv&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-22nqkauj7nurv","reservedPeeringRanges":["computeaddress-22nqkauj7nurv"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 254.624863ms
[...]
    - id: 25
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-22nqkauj7nurv&prettyPrint=false
        method: GET
      response:
        body: |
            {
              "error": {
                "code": 503,
                "message": "The service is currently unavailable.",
                "errors": [
                  {
                    "message": "The service is currently unavailable.",
                    "domain": "global",
                    "reason": "backendError",
                    "debugInfo": "detail: \"[ORIGINAL ERROR] throttling::THROTTLED_TASK_LIMIT: Request \\'/ServicePeeringManagerV1.ListConnections\\' from role \\'one-platform-service-networking\\' throttled: Task is overloaded (in-flight-cost) go/tr-t.\"\n"
                  }
                ],
                "status": "UNAVAILABLE",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.DebugInfo",
                    "detail": "[ORIGINAL ERROR] throttling::THROTTLED_TASK_LIMIT: Request '/ServicePeeringManagerV1.ListConnections' from role 'one-platform-service-networking' throttled: Task is overloaded (in-flight-cost) go/tr-t."
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 503 Service Unavailable
        code: 503
        duration: 55.234046ms
[...]
    - id: 28
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "6485911171409364939",
              "creationTimestamp": "2024-05-03T11:55:32.750-07:00",
              "name": "computenetwork-22nqkauj7nurv",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/6485911171409364939",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/y21518d097c92dfcap-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-05-03T11:56:07.451-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 187.790612ms
[...]
    - id: 30
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/instances/alloydbinstance-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/instances/alloydbinstance-22nqkauj7nurv",
              "uid": "92492f47-3f2f-4baf-b739-280b17e70b58",
              "createTime": "2024-05-07T18:56:16.133794152Z",
              "updateTime": "2024-05-07T19:01:39.911248016Z",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "172.24.0.5",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west2-a"
              },
              "nodes": [
                {
                  "zoneId": "us-west2-b"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "clientConnectionConfig": {
                "sslConfig": {
                  "sslMode": "ENCRYPTED_ONLY"
                }
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 200,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 99.414733ms
[...]
    - id: 34
      request:
        host: alloydb.googleapis.com
        body: |
            {"userType":"ALLOYDB_IAM_USER"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/users?alt=json&userId=alloydbuser-22nqkauj7nurv
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/users/alloydbuser-22nqkauj7nurv",
              "databaseRoles": [
                "alloydbiamuser"
              ],
              "userType": "ALLOYDB_IAM_USER"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 940.144753ms
    - id: 35
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/users/alloydbuser-22nqkauj7nurv?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-22nqkauj7nurv/users/alloydbuser-22nqkauj7nurv",
              "databaseRoles": [
                "alloydbiamuser"
              ],
              "userType": "ALLOYDB_IAM_USER"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 470.422701ms
[...]
    - id: 52
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/123456789/global/networks/computenetwork-22nqkauj7nurv/removePeering?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6039695740443804717",
              "name": "operation-1715108545758-617e1d39f03af-bcdc180a-68e9038d",
              "operationType": "removePeering",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-22nqkauj7nurv",
              "targetId": "6485911171409364939",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-07T12:02:26.398-07:00",
              "startTime": "2024-05-07T12:02:26.413-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715108545758-617e1d39f03af-bcdc180a-68e9038d"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
[...]
