---
version: 2
interactions:
  - id: 0
    request:
      host: gkehub.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://gkehub.googleapis.com/v1beta1/projects/example-project/locations/global/memberships/gkehubmembership-3tmxdw2oic1me?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 228.542458ms
[...]
  - id: 3
    request:
      host: gkehub.googleapis.com
      body: '{"authority":{"issuer":"https://container.googleapis.com/v1/projects/example-project/locations/us-central1-a/clusters/containercluster-3tmxdw2oic1me"},"description":"A sample GKE Hub membership","endpoint":{"gkeCluster":{"resourceLink":"//container.googleapis.com/projects/example-project/zones/us-central1-a/clusters/containercluster-3tmxdw2oic1me"}},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/memberships/gkehubmembership-3tmxdw2oic1me"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://gkehub.googleapis.com/v1beta1/projects/example-project/locations/global/memberships?alt=json&membershipId=gkehubmembership-3tmxdw2oic1me
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/operations/operation-1715105141991-617e108bda865-c64775cd-da930c39",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.gkehub.v1beta1.OperationMetadata",
            "createTime": "2024-05-03T18:05:44.213056861Z",
            "target": "projects/example-project/locations/global/memberships/gkehubmembership-3tmxdw2oic1me",
            "verb": "create",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 2.704896428s
  - id: 4
    request:
      host: gkehub.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://gkehub.googleapis.com/v1beta1/projects/example-project/locations/global/operations/operation-1715105141991-617e108bda865-c64775cd-da930c39?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/operations/operation-1715105141991-617e108bda865-c64775cd-da930c39",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.gkehub.v1beta1.OperationMetadata",
            "createTime": "2024-05-03T18:05:44.213056861Z",
            "endTime": "2024-05-03T18:06:04.399878376Z",
            "target": "projects/example-project/locations/global/memberships/gkehubmembership-3tmxdw2oic1me",
            "verb": "create",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.cloud.gkehub.v1beta1.Membership",
            "name": "projects/example-project/locations/global/memberships/gkehubmembership-3tmxdw2oic1me",
            "description": "A sample GKE Hub membership",
            "endpoint": {
              "gkeCluster": {
                "resourceLink": "//container.googleapis.com/projects/example-project/zones/us-central1-a/clusters/containercluster-3tmxdw2oic1me"
              }
            },
            "state": {
              "code": "READY"
            },
            "createTime": "2024-05-03T18:05:44.175617937Z",
            "updateTime": "2024-05-03T18:05:44.175617937Z",
            "authority": {
              "issuer": "https://container.googleapis.com/v1/projects/example-project/locations/us-central1-a/clusters/containercluster-3tmxdw2oic1me",
              "workloadIdentityPool": "example-project.svc.id.goog",
              "identityProvider": "https://container.googleapis.com/v1/projects/example-project/locations/us-central1-a/clusters/containercluster-3tmxdw2oic1me"
            },
            "externalId": "285c2b17-93f6-4295-8c8a-3c7bd24bdd0f",
            "uniqueId": "f72c0843-8ab9-4893-9762-81fea88aa88b",
            "infrastructureType": "MULTI_CLOUD",
            "monitoringConfig": {
              "projectId": "example-project",
              "location": "us-central1-a",
              "cluster": "containercluster-3tmxdw2oic1me",
              "kubernetesMetricsPrefix": "kubernetes.io",
              "clusterHash": "a398c2250efe49aeac76cf8c3586d5a1d3cd4c4287a248928cbcbe87bd56f55d"
            }
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 136.014508ms
[...]
  - id: 14
    request:
      host: gkehub.googleapis.com
      body: '{"authority":{"issuer":"https://container.googleapis.com/v1/projects/example-project/locations/us-central1-a/clusters/containercluster-3tmxdw2oic1me"},"description":"A simpler GKE Hub membership update","endpoint":{"gkeCluster":{"resourceLink":"//container.googleapis.com/projects/example-project/zones/us-central1-a/clusters/containercluster-3tmxdw2oic1me"}},"infrastructureType":"MULTI_CLOUD","labels":{"cnrm-test":"true","mana[...]
[...]
  - id: 20
    request:
      host: gkehub.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://gkehub.googleapis.com/v1beta1/projects/example-project/locations/global/operations/operation-1715105178419-617e10ae97f99-2c0d740a-0f3c2c6e?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/operations/operation-1715105178419-617e10ae97f99-2c0d740a-0f3c2c6e",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.gkehub.v1beta1.OperationMetadata",
            "createTime": "2024-05-03T18:06:18.477411408Z",
            "endTime": "2024-05-03T18:06:20.743189119Z",
            "target": "projects/example-project/locations/global/memberships/gkehubmembership-3tmxdw2oic1me",
            "verb": "delete",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": true,
          "error": {
            "code": 9,
            "message": "failed to uninstall Kubernetes resources for Membership: failed to delete Membership resources: failed to fetch resource memberships.hub.gke.io: an error on the server (\"Internal Server Error: \\\"/apis/apiextensions.k8s.io/v1/customresourcedefinitions/memberships.hub.gke.io\\\": the server could not find the requested resource\") has prevented the request from succeeding (get customresourcedefinitions.apiextensions.k8s.io memberships.hub.gke.io): failed precondition"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 91.866434ms
[...]
