---
version: 2
interactions:
  - id: 0
    request:
      host: container.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/containercluster-3tmxdw2oic1me?alt=json&prettyPrint=false
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 463.9452ms
[...]
  - id: 2
    request:
      host: container.googleapis.com
      body: |
        {"cluster":{"autopilot":{"enabled":false},"autoscaling":{"enableNodeAutoprovisioning":false},"binaryAuthorization":{"enabled":false},"initialNodeCount":1,"ipAllocationPolicy":{"stackType":"IPV4","useIpAliases":false},"legacyAbac":{"enabled":false},"maintenancePolicy":{"window":{}},"masterAuthorizedNetworksConfig":{},"name":"containercluster-3tmxdw2oic1me","network":"projects/example-project/global/networks/default","networkConfig":{},"networkPolicy":{},"nodeConfig":{"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"]},"notificationConfig":{"pubsub":{}},"resourceLabels":{"cnrm-test":"true","managed-by-cnrm":"true"},"shieldedNodes":{"enabled":true},"workloadIdentityConfig":{"workloadPool":"example-project.svc.id.goog"}}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"name":"operation-1715104658728-2be2e090-d35c-4ad1-a91b-0038c48919cc","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"RUNNING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1715104658728-2be2e090-d35c-4ad1-a91b-0038c48919cc","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/containercluster-3tmxdw2oic1me","startTime":"2024-05-07T17:57:38.728446748Z"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 2.697006243s
  - id: 3
    request:
      host: container.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/operations/operation-1715104658728-2be2e090-d35c-4ad1-a91b-0038c48919cc?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"name":"operation-1715104658728-2be2e090-d35c-4ad1-a91b-0038c48919cc","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"DONE","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1715104658728-2be2e090-d35c-4ad1-a91b-0038c48919cc","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/containercluster-3tmxdw2oic1me","startTime":"2024-05-07T17:57:38.728446748Z","endTime":"2024-05-03T18:04:07.836157125Z","progress":{"metrics":[{"name":"CLUSTER_CONFIGURING","intValue":"10"},{"name":"CLUSTER_CONFIGURING_TOTAL","intValue":"10"},{"name":"CLUSTER_DEPLOYING","intValue":"13"},{"name":"CLUSTER_DEPLOYING_TOTAL","intValue":"13"},{"name":"CLUSTER_HEALTHCHECKING","intValue":"1"},{"name":"CLUSTER_HEALTHCHECKING_TOTAL","intValue":"2"}]}}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 85.733362ms
  - id: 4
    request:
      host: container.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/containercluster-3tmxdw2oic1me?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"name":"containercluster-3tmxdw2oic1me","initialNodeCount":1,"nodeConfig":{"machineType":"e2-medium","diskSizeGb":100,"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"],"metadata":{"disable-legacy-endpoints":"true"},"imageType":"COS_CONTAINERD","serviceAccount":"default","diskType":"pd-balanced","workloadMetadataConfig":{"nodeMetadata":"GKE_METADATA_SERVER","mode":"GKE_METADATA"},"shieldedInstanceConfig":{"enableIntegrityMonitoring":true},"windowsNodeConfig":{}},"masterAuth":{"clusterCaCertificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVMVENDQXBXZ0F3SUJBZ0lSQUxnbncyN2VCSUk2R3dwVklQR2I4c0l3RFFZSktvWklodmNOQVFFTEJRQXcKTHpFdE1Dc0dBMVVFQXhNa1pUUXhNek0yTUdFdE16ZGtNeTAwWXpVM0xUZ3hOVGt0TmpRNE5qQTNOR1l5Wm1WbApNQ0FYRFRJME1EVXdOekUyTlRjek5sb1lEekl3TlRRd05ETXdNVGMxTnpNMldqQXZNUzB3S3dZRFZRUURFeVJsCk5ERXpNell3WVMwek4yUXpMVFJqTlRjdE9ERTFPUzAyTkRnMk1EYzBaakptWldVd2dnR2lNQTBHQ1NxR1NJYjMKRFFFQkFRVUFBNElCandBd2dnR0tBb0lCZ1FDNFZsSzZaV0t3c0hnNzNpd1gvU3E0WVBSOW1mTHZYZitoalR1bQpzY3hIYUtoVlVTVUd4c3VSSHJHVkF[...]
  - id: 5
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-containercluster-3tm-default-pool-81e29123-grp?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#instanceGroupManager","id":"8164033204095276327","creationTimestamp":"2024-05-07T10:58:32.992-07:00","name":"gke-containercluster-3tm-default-pool-81e29123-grp","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","instanceTemplate":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/gke-containercluster-3tm-default-pool-81e29123","versions":[{"instanceTemplate":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/gke-containercluster-3tm-default-pool-81e29123","targetSize":{"calculated":1}}],"instanceGroup":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroups/gke-containercluster-3tm-default-pool-81e29123-grp","baseInstanceName":"gke-containercluster-3tm-default-pool-81e29123","fingerprint":"oGOfmhl_rDo=","currentActions":{"none":1,"creating":0,"creatingWithoutRetries":0,"verifying":0,"recreating":0,"deleting":0,"abandoning":0,"restarting":0,"refreshing":0,"suspending":0,"resuming":0,"stopping":0,"starting":0},"status":{"isStable":true,"allInstancesConfig":{"effective":true},"versionTarget":{"isReached":true},"stateful":{"isStateful":false,"hasStatefulConfig":false,"perInstanceConfigs":{"allEffective":true}}},"targetSize":1,"targetStoppedSize":0,"targetSuspendedSize":0,"listManagedInstancesResults":"PAGINATED","standbyPolicy":{"mode":"MANUAL"},"selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-containercluster-3tm-default-pool-81e29123-grp","updatePolicy":{"type":"OPPORTUNISTIC","minimalAction":"REPLACE","maxSurge":{"fixed":1,"calculated":1},"maxUnavailable":{"fixed":1,"calculated":1},"minReadySec":0,"replacementMethod":"SUBSTITUTE"},"serviceAccount":"123456789@cloudservices.gserviceaccount.com","instanceLifecyclePolicy":{"forceUpdateOnRepair":"NO","defaultActionOnFailure":"REPAIR"}}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 207.550602ms
[...]
