---
version: 2
interactions:
  - id: 0
    request:
      host: file.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-central1-c/instances/filestoreinstance-2c4iavozbt8lu?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 268.47669ms
[...]
  - id: 3
    request:
      host: file.googleapis.com
      body: '{"description":"Test instance","fileShares":[{"capacityGb":2560,"name":"my_share","nfsExportOptions":[]}],"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networks":[{"modes":["MODE_IPV4"],"network":"projects/example-project/global/networks/default"}],"tier":"PREMIUM"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-central1-c/instances?alt=json&instanceId=filestoreinstance-2c4iavozbt8lu
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1-c/operations/operation-1715104261262-617e0d43ecc3e-32232c15-b7cee97a",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:51:02.495350909Z",
            "target": "projects/example-project/locations/us-central1-c/instances/filestoreinstance-2c4iavozbt8lu",
            "verb": "create",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 1.506185974s
  - id: 4
    request:
      host: file.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1/projects/example-project/locations/us-central1-c/operations/operation-1715104261262-617e0d43ecc3e-32232c15-b7cee97a?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1-c/operations/operation-1715104261262-617e0d43ecc3e-32232c15-b7cee97a",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:51:02.495350909Z",
            "endTime": "2024-05-03T17:53:52.862977459Z",
            "target": "projects/example-project/locations/us-central1-c/instances/filestoreinstance-2c4iavozbt8lu",
            "verb": "create",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.cloud.filestore.v1beta1.Instance",
            "name": "projects/example-project/locations/us-central1-c/instances/filestoreinstance-2c4iavozbt8lu",
            "description": "Test instance",
            "state": "READY",
            "createTime": "2024-05-03T17:51:02.491540329Z",
            "tier": "PREMIUM",
            "labels": {
              "cnrm-test": "true",
              "managed-by-cnrm": "true"
            },
            "fileShares": [
              {
                "name": "my_share",
                "capacityGb": "2560"
              }
            ],
            "networks": [
              {
                "network": "default",
                "modes": [
                  "MODE_IPV4"
                ],
                "reservedIpRange": "10.194.202.40/29",
                "ipAddresses": [
                  "10.194.202.42"
                ]
              }
            ],
            "maxCapacityGb": "65434",
            "capacityStepSizeGb": "1",
            "maxShareCount": "1",
            "capacityGb": "2560",
            "satisfiesPzi": true
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 266.248504ms
[...]
  - id: 7
    request:
      host: file.googleapis.com
      body: '{"description":"Test instance","fileShares":[{"capacityGb":2560,"name":"my_share"}],"labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-central1-c/instances/filestoreinstance-2c4iavozbt8lu?alt=json&updateMask=fileShares
      method: PATCH
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1-c/operations/operation-1715104436856-617e0deb62797-f74c1e34-d8f681a5",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:53:56.886673348Z",
            "target": "projects/example-project/locations/us-central1-c/instances/filestoreinstance-2c4iavozbt8lu",
            "verb": "update",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 293.361107ms
[...]
  - id: 18
    request:
      host: file.googleapis.com
      body: '{"description":"Updated test instance","fileShares":[{"capacityGb":4800,"name":"my_share","nfsExportOptions":[{"accessMode":"READ_ONLY","anonGid":65534,"anonUid":65534,"ipRanges":["172.217.14.238"],"squashMode":"ROOT_SQUASH"}]}],"labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-central1-c/instances/filestoreinstance-2c4iavozbt8lu?alt=json&updateMask=description%2CfileShares%2Clabels
      method: PATCH
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1-c/operations/operation-1715104446074-617e0df42ccf8-0132b69a-4f0afaf8",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:54:06.130723248Z",
            "target": "projects/example-project/locations/us-central1-c/instances/filestoreinstance-2c4iavozbt8lu",
            "verb": "update",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 324.037566ms
  - id: 19
    request:
      host: file.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-central1-c/operations/operation-1715104446074-617e0df42ccf8-0132b69a-4f0afaf8?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1-c/operations/operation-1715104446074-617e0df42ccf8-013[...]
  - id: 20
    request:
      host: file.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-central1-c/instances/filestoreinstance-2c4iavozbt8lu?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1-c/instances/filestoreinstance-2c4iavozbt8lu",
          "description": "Updated test instance",
          "state": "READY",
          "createTime": "2024-05-03T17:51:02.491540329Z",
          "tier": "PREMIUM",
          "labels": {
            "managed-by-cnrm": "true",
            "cnrm-test": "true",
            "label-one": "value-one"
          },
          "fileShares": [
            {
              "name": "my_share",
              "capacityGb": "4800",
              "nfsExportOptions": [
                {
                  "ipRanges": [
                    "172.217.14.238"
                  ],
                  "accessMode": "READ_ONLY",
                  "squashMode": "ROOT_SQUASH",
                  "anonUid": "65534",
                  "anonGid": "65534",
                  "securityFlavors": [
                    "AUTH_SYS"
                  ]
                }
              ]
            }
          ],
          "networks": [
            {
              "network": "default",
              "modes": [
                "MODE_IPV4"
              ],
              "reservedIpRange": "10.194.202.40/29",
              "ipAddresses": [
                "10.194.202.42"
              ]
            }
          ],
          "maxCapacityGb": "65434",
          "capacityStepSizeGb": "1",
          "maxShareCount": "1",
          "capacityGb": "4800",
          "satisfiesPzi": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 72.139915ms
[...]
