---
version: 2
interactions:
  - id: 0
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#network",
          "id": "7211413379147622350",
          "creationTimestamp": "2024-05-03T09:38:57.034-07:00",
          "name": "default",
          "description": "Default network for the project",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
          "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/7211413379147622350",
          "autoCreateSubnetworks": true,
          "subnetworks": [
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-west8/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-southeast2/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-central2/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-southwest1/subnetworks/default",
  [...]
[...]
  - id: 2
    request:
      host: vpcaccess.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://vpcaccess.googleapis.com/v1beta1/projects/example-project/locations/us-central1/connectors/vpcac3c4i3uq2sp7g7?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 352.081672ms
  - id: 3
    request:
      host: vpcaccess.googleapis.com
      body: |
        {"ipCidrRange":"10.2.0.0/28","machineType":"e2-micro","maxThroughput":400,"minThroughput":300,"network":"default"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://vpcaccess.googleapis.com/v1beta1/projects/example-project/locations/us-central1/connectors?alt=json&connectorId=vpcac3c4i3uq2sp7g7
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/9ab30fa6-e595-4afd-a571-e6e98d4f68dc",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.vpcaccess.v1beta1.OperationMetadataV1Beta1",
            "method": "google.cloud.vpcaccess.v1beta1.VpcAccessService.CreateConnector",
            "createTime": "2024-05-03T18:10:45.403128Z",
            "target": "projects/example-project/locations/us-central1/connectors/vpcac3c4i3uq2sp7g7"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 1.026330279s
  - id: 4
    request:
      host: vpcaccess.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://vpcaccess.googleapis.com/v1beta1/projects/example-project/locations/us-central1/operations/9ab30fa6-e595-4afd-a571-e6e98d4f68dc?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/9ab30fa6-e595-4afd-a571-e6e98d4f68dc",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.vpcaccess.v1beta1.OperationMetadataV1Beta1",
            "method": "google.cloud.vpcaccess.v1beta1.VpcAccessService.CreateConnector",
            "createTime": "2024-05-03T18:10:45.403128Z",
            "endTime": "2024-05-03T18:12:34.852170Z",
            "target": "projects/example-project/locations/us-central1/connectors/vpcac3c4i3uq2sp7g7"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.cloud.vpcaccess.v1beta1.Connector",
            "name": "projects/example-project/locations/us-central1/connectors/vpcac3c4i3uq2sp7g7",
            "network": "default",
            "ipCidrRange": "10.2.0.0/28",
            "state": "READY",
            "minThroughput": 300,
            "maxThroughput": 400,
            "machineType": "e2-micro",
            "minInstances": 3,
            "maxInstances": 4,
            "createTime": "2024-05-03T18:10:45.383200Z",
            "lastRestartTime": "2024-05-03T18:10:44.670276Z"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 295.627494ms
[...]
