# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts/gsa-1aup5dgbfrmww@example-project.iam.gserviceaccount.com?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"projects/example-project/serviceAccounts/gsa-1aup5dgbfrmww@example-project.iam.gserviceaccount.com","projectId":"example-project","uniqueId":"117954054984567774908","email":"gsa-1aup5dgbfrmww@example-project.iam.gserviceaccount.com","etag":"MDEwMjE5MjA=","oauth2ClientId":"117954054984567774908"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 117.074785ms
    - id: 1
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"createTime":"2024-04-22T22:05:48.090278Z","parent":{"type":"organization","id":"123450001"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 200.957681ms
    - id: 2
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"options":{"requestedPolicyVersion":3}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project:getIamPolicy?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"version":1,"etag":"BwYXVI260Mw=","bindings":[{"role":"roles/compute.serviceAgent","members":["serviceAccount:service-123456789@compute-system.iam.gserviceaccount.com"]},{"role":"roles/container.serviceAgent","members":["serviceAccount:service-123456789@container-engine-robot.iam.gserviceaccount.com"]},{"role":"roles/containerregistry.ServiceAgent","members":["serviceAccount:service-123456789@containerregistry.iam.gserviceaccount.com"]},{"role":"roles/editor","members":["serviceAccount:123456789-compute@developer.gserviceaccount.com","serviceAccount:123456789@cloudservices.gserviceaccount.com","serviceAccount:gsa-1aup5dgbfrmww@example-project.iam.gserviceaccount.com"]},{"role":"roles/owner","members":["user:user@google.com"]},{"role":"roles/pubsub.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-pubsub.iam.gserviceaccount.com"]}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 266.574688ms
[...]
    - id: 4
      request:
        host: cloudbilling.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudbilling.googleapis.com/v1/projects/example-project/billingInfo?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"projects/example-project/billingInfo","projectId":"example-project","billingAccountName":"billingAccounts/123456-777777-000001","billingEnabled":true}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 273.356148ms
[...]
    - id: 7
      request:
        host: edgecontainer.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://edgecontainer.googleapis.com/v1/projects/example-project/locations/us-central1/clusters/edgecontainercluster-1aup5dgbfrmww?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 279.501907ms
[...]
    - id: 9
      request:
        host: edgecontainer.googleapis.com
        body: |
            {"authorization":{"adminUsers":{"username":"gsa-1aup5dgbfrmww@example-project.iam.gserviceaccount.com"}},"fleet":{"project":"projects/123456789"},"labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"networking":{"clusterIpv4CidrBlocks":["10.0.0.0/16"],"servicesIpv4CidrBlocks":["10.1.0.0/16"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://edgecontainer.googleapis.com/v1/projects/example-project/locations/us-central1/clusters?alt=json&cluster_id=edgecontainercluster-1aup5dgbfrmww
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1714501893361-6175494520f6c-bef51f77-c037308b",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.edgecontainer.v1.OperationMetadata",
                "createTime": "2024-04-30T18:31:44.110065570Z",
                "target": "projects/example-project/locations/us-central1/clusters/edgecontainercluster-1aup5dgbfrmww",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 11.034838977s
[...]
    - id: 15
      request:
        host: edgecontainer.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://edgecontainer.googleapis.com/v1/projects/example-project/locations/us-central1/operations/operation-1714501893361-6175494520f6c-bef51f77-c037308b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1714501893361-6175494520f6c-bef51f77-c037308b",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.edgecontainer.v1.OperationMetadata",
                "createTime": "2024-04-30T18:31:44.110065570Z",
                "endTime": "2024-04-30T18:42:06.963957025Z",
                "target": "projects/example-project/locations/us-central1/clusters/edgecontainercluster-1aup5dgbfrmww",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.edgecontainer.v1.Cluster",
                "name": "projects/example-project/locations/us-central1/clusters/edgecontainercluster-1aup5dgbfrmww",
                "createTime": "2024-04-30T18:31:44.105210453Z",
                "updateTime": "2024-04-30T18:33:37.824561357Z",
                "endpoint": "34.121.175.228",
                "networking": {
                  "clusterIpv4CidrBlocks": [
                    "10.0.0.0/16"
                  ],
                  "servicesIpv4CidrBlocks": [
                    "10.1.0.0/16"
                  ]
                },
                "defaultMaxPodsPerNode": 110,
                "authorization": {
                  "adminUsers": {
                    "username": "gsa-1aup5dgbfrmww@example-project.iam.gserviceaccount.com"
                  }
                },
                "clusterCaCertificate": "-----BEGIN CERTIFICATE-----\nMIIDKzCCAhOgAwIBAgIRAMFRGg8V++ZhvO7DVvUxIkYwDQYJKoZIhvcNAQELBQAw\nLzEtMCsGA1UEAxMkOWFiNmNjZmEtNGQwOS00NjIxLWFkNDYtNTY4YTBjNDc1ZTk4\nMB4XDTI0MDQzMDE3MzMzOVoXDTI5MDQyOTE4MzMzOVowLzEtMCsGA1UEAxMkOWFi\nNmNjZmEtNGQwOS00NjIxLWFkNDYtNTY4YTBjNDc1ZTk4MIIBIjANBgkqhkiG9w0B\nAQEFAAOCAQ8AMIIBCgKCAQEAlg5CuRL/o/V7YcWZ2xpGsv6yQGUuj1QBhu9uhuku\njAMQLix7Rn49pmp/zELE6NiXiHrFGGBn4O61mniJLgmaKc8WNEdVglsESF6/ZO3f\ncn8elfKIeqW/hwe6JiKlPm9ycDTnLG71V02yp8UMvMn6ZrzVa7N0NbvaZM75p5JG\nPpIAGycVAJBPgS7JaQwY0AQ676oqMBA+YRmRwOorUbzrSYyrQMXizSpIn4M5c6OK\nfl/hqAfKB059pLJCnagenNZa6SLZnEst/sJ7Rpo9RVzM4OxVSrD1huRIXaWURtOW\nXVGRXwytyql9GH8zozpse51J8h3UzRUwN2OJE82ch14P3wIDAQABo0IwQDAOBgNV\nHQ8BAf8EBAMCAgQwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQU6dPq7LhoQANV\n2XqaMjzmk1H1FckwDQYJKoZIhvcNAQELBQADggEBABEAYSC02YyF4qM0MGCWHR4Y\nWkhizMBg85MD1ItZutJqt/tIkeW1/ixkv/GAH/mmO7jmpXVOwVyPuoP3NAfHbgYV\nvxldR+9Y8FnBFKLQpbfADKDGyM6Xds1h5czIFE/hslLZNmjdfkUP7Nn5R/dELopd\nbnEeQWgQCwCPaDB4hyX5IUWEhBGtXY6id/yge5T4+qvz/fA4WhmHVuKQ45SDtO5Y\nWuEwb60l8Ly4PamNgjjLu1Bug4GwQVClOWWkFZnIWJHJvPLCpYN2fCOysDDVR0gG\nCsJtos/qysvVCWyMLsE32IVj/zlr5tdkH8YsSI1gqPd7L7MHxXaJm5Cwulljnuk=\n-----END CERTIFICATE-----\n",
                "fleet": {
                  "project": "projects/123456789",
                  "membership": "projects/123456789/locations/global/memberships/edgecontainercluster-1aup5dgbfrmww"
                },
                "controlPlaneVersion": "1.6.0",
                "port": 6443,
                "status": "PROVISIONING"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 141.500958ms
[...]
    - id: 25
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"policy":{"bindings":[{"members":["serviceAccount:service-123456789@compute-system.iam.gserviceaccount.com"],"role":"roles/compute.serviceAgent"},{"members":["serviceAccount:service-123456789@container-engine-robot.iam.gserviceaccount.com"],"role":"roles/container.serviceAgent"},{"members":["serviceAccount:service-123456789@containerregistry.iam.gserviceaccount.com"],"role":"roles/containerregistry.ServiceAgent"},{"members":["serviceAccount:service-123456789@gcp-sa-edgecontainercluster.iam.gserviceaccount.com"],"role":"roles/edgecontainer.clusterServiceAgent"},{"members":["serviceAccount:service-123456789@gcp-sa-edgecontainer.iam.gserviceaccount.com"],"role":"roles/edgecontainer.serviceAgent"},{"members":["deleted:serviceAccount:gsa-1aup5dgbfrmww@example-project.iam.gserviceaccount.com?uid=117954054984567774908","serviceAccount:123456789-compute@developer.gserviceaccount.com","serviceAccount:123456789@cloudservices.gserviceaccount.com"],"role":"roles/editor"},{"members":["serviceAccount:service-123456789@gcp-sa-gkehub.iam.gserviceaccount.com"],"role":"roles/gkehub.serviceAgent"},{"members":["serviceAccount:service-123456789@gcp-sa-mcmetering.iam.gserviceaccount.com"],"role":"roles/multiclustermetering.serviceAgent"},{"members":["user:user@google.com"],"role":"roles/owner"},{"members":["serviceAccount:service-123456789@gcp-sa-pubsub.iam.gserviceaccount.com"],"role":"roles/pubsub.serviceAgent"}],"etag":"BwYXVLfXaFQ=","version":1},"updateMask":"bindings,etag,auditConfigs"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project:setIamPolicy?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"version":1,"etag":"BwYXVLqdgrs=","bindings":[{"role":"roles/compute.serviceAgent","members":["serviceAccount:service-123456789@compute-system.iam.gserviceaccount.com"]},{"role":"roles/container.se[...]
[...]
