---
version: 2
interactions:
  - id: 0
    request:
      host: file.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-west1-c/instances/filestoreinstance-2ryl82a7772kf?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 85.438176ms
[...]
  - id: 3
    request:
      host: file.googleapis.com
      body: '{"description":"Test instance","fileShares":[{"capacityGb":2560,"name":"my_share","nfsExportOptions":[]}],"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networks":[{"modes":["MODE_IPV4"],"network":"projects/example-project/global/networks/default"}],"tier":"PREMIUM"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-west1-c/instances?alt=json&instanceId=filestoreinstance-2ryl82a7772kf
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-west1-c/operations/operation-1715103774019-617e0b734107e-4dd34739-6d6aa617",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:42:59.380275864Z",
            "target": "projects/example-project/locations/us-west1-c/instances/filestoreinstance-2ryl82a7772kf",
            "verb": "create",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 5.414441118s
  - id: 4
    request:
      host: file.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1/projects/example-project/locations/us-west1-c/operations/operation-1715103774019-617e0b734107e-4dd34739-6d6aa617?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-west1-c/operations/operation-1715103774019-617e0b734107e-4dd34739-6d6aa617",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:42:59.380275864Z",
            "endTime": "2024-05-03T17:46:34.080808796Z",
            "target": "projects/example-project/locations/us-west1-c/instances/filestoreinstance-2ryl82a7772kf",
            "verb": "create",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.cloud.filestore.v1beta1.Instance",
            "name": "projects/example-project/locations/us-west1-c/instances/filestoreinstance-2ryl82a7772kf",
            "description": "Test instance",
            "state": "READY",
            "createTime": "2024-05-03T17:42:59.377295725Z",
            "tier": "PREMIUM",
            "labels": {
              "cnrm-test": "true",
              "managed-by-cnrm": "true"
            },
            "fileShares": [
              {
                "name": "my_share",
                "capacityGb": "2560"
              }
            ],
            "networks": [
              {
                "network": "default",
                "modes": [
                  "MODE_IPV4"
                ],
                "reservedIpRange": "10.8.239.0/29",
                "ipAddresses": [
                  "10.8.239.2"
                ]
              }
            ],
            "maxCapacityGb": "65434",
            "capacityStepSizeGb": "1",
            "maxShareCount": "1",
            "capacityGb": "2560",
            "satisfiesPzi": true
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 29.621405ms
[...]
  - id: 7
    request:
      host: file.googleapis.com
      body: '{"description":"Test instance","fileShares":[{"capacityGb":2560,"name":"my_share"}],"labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-west1-c/instances/filestoreinstance-2ryl82a7772kf?alt=json&updateMask=fileShares
      method: PATCH
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-west1-c/operations/operation-1715104005104-617e0c4fa22e1-f9a32db3-11026167",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:46:45.141648079Z",
            "target": "projects/example-project/locations/us-west1-c/instances/filestoreinstance-2ryl82a7772kf",
            "verb": "update",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 83.858652ms
[...]
  - id: 13
    request:
      host: file.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-central1/backups/filestorebackup-2ryl82a7772kf?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 232.293785ms
[...]
  - id: 16
    request:
      host: file.googleapis.com
      body: '{"description":"A sample backup","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"sourceFileShare":"my_share","sourceInstance":"projects/example-project/locations/us-west1-c/instances/filestoreinstance-2ryl82a7772kf"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-central1/backups?alt=json&backupId=filestorebackup-2ryl82a7772kf
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/operation-1715104013134-617e0c574abf3-e3eb871c-dfd0d3cf",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:46:53.920624618Z",
            "target": "projects/example-project/locations/us-central1/backups/filestorebackup-2ryl82a7772kf",
            "verb": "create",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 1.037419562s
  - id: 17
    request:
      host: file.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-central1/operations/operation-1715104013134-617e0c574abf3-e3eb871c-dfd0d3cf?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/operation-1715104013134-617e0c574abf3-e3eb871c-dfd0d3cf",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:46:53.920624618Z",
            "endTime": "2024-05-03T17:47:39.108528645Z",
            "target": "projects/example-project/locations/us-central1/backups/filestorebackup-2ryl82a7772kf",
            "verb": "create",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.cloud.filestore.v1beta1.Backup",
            "name": "projects/example-project/locations/us-central1/backups/filestorebackup-2ryl82a7772kf",
            "description": "A sample backup",
            "state": "READY",
            "createTime": "2024-05-03T17:46:53.915781949Z",
            "labels": {
              "cnrm-test": "true",
              "managed-by-cnrm": "true"
            },
            "capacityGb": "2560",
            "storageBytes": "6549056",
            "sourceInstance": "projects/example-project/locations/us-west1-c/instances/filestoreinstance-2ryl82a7772kf",
            "sourceFileShare": "my_share",
            "sourceInstanceTier": "PREMIUM",
            "downloadBytes": "6739828"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 210.001083ms
[...]
  - id: 27
    request:
      host: file.googleapis.com
      body: '{"description":"An updated sample backup","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-central1/backups/filestorebackup-2ryl82a7772kf?alt=json&updateMask=description%2Clabels
      method: PATCH
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/operation-1715104073699-617e0c910d222-ee4909dc-21ea24e6",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:47:53.713662392Z",
            "target": "projects/example-project/locations/us-central1/backups/filestorebackup-2ryl82a7772kf",
            "verb": "update",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 263.803708ms
[...]
  - id: 38
    request:
      host: file.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://file.googleapis.com/v1beta1/projects/example-project/locations/us-west1-c/operations/operation-1715104075269-617e0c928c620-e1dc4e83-4518898b?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-west1-c/operations/operation-1715104075269-617e0c928c620-e1dc4e83-4518898b",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
            "createTime": "2024-05-03T17:47:55.309640987Z",
            "endTime": "2024-05-03T17:50:24.369735361Z",
            "target": "projects/example-project/locations/us-west1-c/instances/filestoreinstance-2ryl82a7772kf",
            "verb": "delete",
            "cancelRequested": false,
            "apiVersion": "v1beta1"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.protobuf.Empty"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 30.303304ms
[...]
