---
version: 2
interactions:
  - id: 0
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#network",
          "id": "7211413379147622350",
          "creationTimestamp": "2024-05-03T09:38:57.034-07:00",
          "name": "default",
          "description": "Default network for the project",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
          "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/7211413379147622350",
          "autoCreateSubnetworks": true,
          "subnetworks": [
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-west8/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-southeast2/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-central2/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-southwest1/subnetworks/default",
  [...]
[...]
