---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-2zp4nziwygzyb","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "3899019710097247185",
              "name": "operation-1715107133729-617e17f752993-0335cbd4-c4644379",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb",
              "targetId": "6099337013525728209",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T1138:54.203-07:00",
              "startTime": "2024-05-03T1138:54.216-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715107133729-617e17f752993-0335cbd4-c4644379"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 662.13244ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715107133729-617e17f752993-0335cbd4-c4644379?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"3899019710097247185","name":"operation-1715107133729-617e17f752993-0335cbd4-c4644379","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb","targetId":"6099337013525728209","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-05-03T1138:54.203-07:00","startTime":"2024-05-03T1138:54.216-07:00","endTime":"2024-05-03T1139:02.783-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715107133729-617e17f752993-0335cbd4-c4644379"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 144.94244ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "6099337013525728209",
              "creationTimestamp": "2024-05-03T1138:54.186-07:00",
              "name": "computenetwork-2zp4nziwygzyb",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/6099337013525728209",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 160.497422ms
[...]
    - id: 4
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-2zp4nziwygzyb","network":"projects/example-project/global/networks/computenetwork-2zp4nziwygzyb","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "8234332374097709989",
              "name": "operation-1715107146443-617e180372930-003af362-f6c5466e",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2zp4nziwygzyb",
              "targetId": "4713993345105906597",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T1139:06.890-07:00",
              "startTime": "2024-05-03T1139:06.902-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715107146443-617e180372930-003af362-f6c5466e"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 601.025922ms
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-2zp4nziwygzyb"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters?alt=json&clusterId=alloydbcluster-2zp4nziwygzyb
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1715107147423-617e1804620ba-c3f43026-32dfb89d",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T18:39:07.532154515Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 523.980987ms
[...]
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "4713993345105906597",
              "creationTimestamp": "2024-05-03T1139:06.876-07:00",
              "name": "computeaddress-2zp4nziwygzyb",
              "description": "",
              "address": "10.178.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2zp4nziwygzyb",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 234.110636ms
    - id: 8
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2zp4nziwygzyb/setLabels?alt=json
        method: POST
      response:
        body: |
            {
        [...]
    - id: 9
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/operations/operation-1715107147423-617e1804620ba-c3f43026-32dfb89d?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1715107147423-617e1804620ba-c3f43026-32dfb89d",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T18:39:07.532154515Z",
                "endTime": "2024-05-07T18:39:13.386572705Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb",
                "uid": "a652cdc4-236f-47b4-b501-ac7d64da5306",
                "createTime": "2024-05-07T18:39:07.528701945Z",
                "updateTime": "2024-05-07T18:39:07.528701945Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-2zp4nziwygzyb",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-west2"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-05-07T18:39:07.428994257Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-2zp4nziwygzyb"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 391.371166ms
[...]
    - id: 11
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb",
        [...]
    - id: 12
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 110.349458ms
[...]
    - id: 14
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-2zp4nziwygzyb&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 283.620669ms
[...]
    - id: 17
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-2zp4nziwygzyb","reservedPeeringRanges":["computeaddress-2zp4nziwygzyb"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-1de9cdbc-c8d2-4dcc-8263-a5932686dbd7"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 427.616188ms
    - id: 18
      request:
        host: alloydb.googleapis.com
        body: |
            {"availabilityType":"REGIONAL","instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/instances?alt=json&instanceId=alloydbinstance-2zp4nziwygzyb
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1715107161992-617e181246b9d-b9ca4b16-f6aff8ad",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T18:39:22.090955266Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/instances/alloydbinstance-2zp4nziwygzyb",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 502.754253ms
    - id: 19
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/operations/operation-1715107161992-617e181246b9d-b9ca4b16-f6aff8ad?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/operations/operation-1715107161992-617e181246b9d-b9ca4b16-f6aff8ad",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T18:39:22.090955266Z",
                "endTime": "2024-05-07T18:39:31.086340193Z",
                "target": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/instances/alloydbinstance-2zp4nziwygzyb",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-2zp4nziwygzyb\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-2zp4nziwygzyb",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "0449071cae189b1b"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "0449071cae189b1b"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 428.692317ms
[...]
    - id: 21
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-1de9cdbc-c8d2-4dcc-8263-a5932686dbd7?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-1de9cdbc-c8d2-4dcc-8263-a5932686dbd7","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-2zp4nziwygzyb","reservedPeeringRanges":["computeaddress-2zp4nziwygzyb"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 132.925097ms
[...]
    - id: 23
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-2zp4nziwygzyb&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-2zp4nziwygzyb","reservedPeeringRanges":["computeaddress-2zp4nziwygzyb"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 286.614585ms
[...]
    - id: 25
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/instances/alloydbinstance-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/instances/alloydbinstance-2zp4nziwygzyb",
              "uid": "85b15dbc-3b34-4f78-8089-7a18503d8112",
              "createTime": "2024-05-07T18:39:37.586192696Z",
              "updateTime": "2024-05-07T18:44:20.807394513Z",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.203.0.5",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-west2-a"
              },
              "nodes": [
                {
                  "zoneId": "us-west2-b"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "clientConnectionConfig": {
                "sslConfig": {
                  "sslMode": "ENCRYPTED_ONLY"
                }
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 200,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 107.608121ms
[...]
    - id: 28
      request:
        host: alloydb.googleapis.com
        body: |
            {"databaseRoles":["pg_monitor","pg_signal_backend"],"password":"pg-built-in","userType":"ALLOYDB_BUILT_IN"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/users?alt=json&userId=alloydbuser-2zp4nziwygzyb
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/users/alloydbuser-2zp4nziwygzyb",
              "databaseRoles": [
                "pg_monitor",
                "pg_signal_backend"
              ],
              "userType": "ALLOYDB_BUILT_IN"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 919.881199ms
    - id: 29
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/users/alloydbuser-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/clusters/alloydbcluster-2zp4nziwygzyb/users/alloydbuser-2zp4nziwygzyb",
              "databaseRoles": [
                "pg_monitor",
                "pg_signal_backend"
              ],
              "userType": "ALLOYDB_BUILT_IN"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 842.530069ms
[...]
    - id: 36
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "6099337013525728209",
              "creationTimestamp": "2024-05-03T1138:54.186-07:00",
              "name": "computenetwork-2zp4nziwygzyb",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/6099337013525728209",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/m3c56f1b79b50b19fp-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-05-03T1139:29.898-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 193.088277ms
[...]
    - id: 46
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/123456789/global/networks/computenetwork-2zp4nziwygzyb/removePeering?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "407539747483273267",
              "name": "operation-1715107547650-617e19821183e-bfb9df1e-72dc408e",
              "operationType": "removePeering",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2zp4nziwygzyb",
              "targetId": "6099337013525728209",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-03T1145:48.146-07:00",
              "startTime": "2024-05-03T1145:48.155-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715107547650-617e19821183e-bfb9df1e-72dc408e"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 801.131049ms
[...]
