# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters?alt=json&clusterId=alloydbcluster-7v2m2gyfzdaj
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715062536769-617d71d458e5b-3ae2f81f-062014e2",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T06:15:36.928435175Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 213.590573ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-7v2m2gyfzdaj","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "8245302970406959590",
              "name": "operation-1715062536943-617d71d483936-b59480f1-d0a64bc9",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj",
              "targetId": "4999731673858079206",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-02T13:15:37.493-07:00",
              "startTime": "2024-05-02T13:15:37.503-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715062536943-617d71d483936-b59480f1-d0a64bc9"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 783.231923ms
    - id: 2
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1715062536769-617d71d458e5b-3ae2f81f-062014e2?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715062536769-617d71d458e5b-3ae2f81f-062014e2",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T06:15:36.928435175Z",
                "endTime": "2024-05-07T06:15:42.112459669Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
                "uid": "e6efd607-4352-4ac3-9eae-19b9b610fd2c",
                "createTime": "2024-05-07T06:15:36.925325953Z",
                "updateTime": "2024-05-07T06:15:36.925325953Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-7v2m2gyfzdaj",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-east1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-05-07T06:15:36.774299655Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-7v2m2gyfzdaj"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 47.294849ms
    - id: 3
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
           [...]
[...]
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: |
            {"instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj/instances?alt=json&instanceId=alloydbinstance-7v2m2gyfzdaj
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715062547680-617d71dec0d6b-d1d463eb-fbf21d83",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T06:15:47.921906489Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj/instances/alloydbinstance-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 314.818159ms
    - id: 6
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1715062547680-617d71dec0d6b-d1d463eb-fbf21d83?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715062547680-617d71dec0d6b-d1d463eb-fbf21d83",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T06:15:47.921906489Z",
                "endTime": "2024-05-07T06:15:55.706030882Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj/instances/alloydbinstance-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-7v2m2gyfzdaj\": service networking config validation failed NETWORK_NOT_PEERED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-7v2m2gyfzdaj",
                        "description": "service networking config validation failed NETWORK_NOT_PEERED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "4801959930bff44d"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "4801959930bff44d"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 27.634078ms
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715062536943-617d71d483936-b59480f1-d0a64bc9?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"8245302970406959590","name":"operation-1715062536943-617d71d483936-b59480f1-d0a64bc9","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj","targetId":"4999731673858079206","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-05-02T13:15:37.493-07:00","startTime":"2024-05-02T13:15:37.503-07:00","endTime":"2024-05-02T13:15:48.967-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715062536943-617d71d483936-b59480f1-d0a64bc9"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 148.788395ms
    - id: 8
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4999731673858079206",
              "creationTimestamp": "2024-05-02T13:15:37.459-07:00",
              "name": "computenetwork-7v2m2gyfzdaj",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4999731673858079206",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 136.973326ms
[...]
    - id: 11
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress7v2m2gyfzdaj","network":"projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "4398478794069146063",
              "name": "operation-1715062560041-617d71ea8a9b2-99d0be8a-e71aa9bc",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress7v2m2gyfzdaj",
              "targetId": "5305931385722403279",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-02T13:16:00.566-07:00",
              "startTime": "2024-05-02T13:16:00.579-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715062560041-617d71ea8a9b2-99d0be8a-e71aa9bc"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 788.007602ms
[...]
    - id: 14
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "5305931385722403279",
              "creationTimestamp": "2024-05-02T13:16:00.553-07:00",
              "name": "computeaddress7v2m2gyfzdaj",
              "description": "",
              "address": "172.20.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress7v2m2gyfzdaj",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 229.353592ms
    - id: 15
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress7v2m2gyfzdaj/setLabels?alt=json
        method: POST
      response:
        body: |
            {
         [...]
[...]
    - id: 17
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 117.729586ms
[...]
    - id: 19
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-7v2m2gyfzdaj&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 320.546759ms
[...]
    - id: 22
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-7v2m2gyfzdaj","reservedPeeringRanges":["computeaddress7v2m2gyfzdaj"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-6c73ad8e-4db0-48bb-b4ea-913b50468c3c"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 406.092556ms
[...]
    - id: 27
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-6c73ad8e-4db0-48bb-b4ea-913b50468c3c?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-6c73ad8e-4db0-48bb-b4ea-913b50468c3c","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-7v2m2gyfzdaj","reservedPeeringRanges":["computeaddress7v2m2gyfzdaj"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 87.162697ms
[...]
    - id: 29
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-7v2m2gyfzdaj&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-7v2m2gyfzdaj","reservedPeeringRanges":["computeaddress7v2m2gyfzdaj"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 188.933233ms
    - id: 30
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4999731673858079206",
              "creationTimestamp": "2024-05-02T13:15:37.459-07:00",
              "name": "computenetwork-7v2m2gyfzdaj",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4999731673858079206",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/n4e2ad5be398c1ce1p-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-05-02T13:17:34.972-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 220.87305ms
[...]
    - id: 33
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj/instances/alloydbinstance-7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj/instances/alloydbinstance-7v2m2gyfzdaj",
              "uid": "86af5baa-fb7e-4240-8ee2-51f7b9f90003",
              "createTime": "2024-05-07T06:17:00.450900471Z",
              "updateTime": "2024-05-07T06:22:08.641712595Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "172.20.0.2",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-east1-b"
              },
              "nodes": [
                {
                  "zoneId": "us-east1-c"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "clientConnectionConfig": {
                "sslConfig": {
                  "sslMode": "ENCRYPTED_ONLY"
                }
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 200,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 40.804118ms
[...]
    - id: 36
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterName":"projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"type":"ON_DEMAND"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/backups?alt=json&backupId=alloydbbackup-7v2m2gyfzdaj
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715063036109-617d73b08e148-a9940ba2-6f468930",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T06:23:56.182981212Z",
                "target": "projects/example-project/locations/us-east1/backups/alloydbbackup-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 112.752915ms
[...]
    - id: 38
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/backups/alloydbbackup-7v2m2gyfzdaj?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/backups/alloydbbackup-7v2m2gyfzdaj",
              "uid": "b7e46ba2-7062-4e91-86a3-6a9c10261596",
              "createTime": "2024-05-07T06:23:56.179917352Z",
              "updateTime": "2024-05-07T06:24:21.902417818Z",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "state": "READY",
              "type": "ON_DEMAND",
              "clusterName": "projects/example-project/locations/us-east1/clusters/alloydbcluster-7v2m2gyfzdaj",
              "reconciling": false,
              "encryptionInfo": {
                "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
              },
              "sizeBytes": "42001259",
              "clusterUid": "e6efd607-4352-4ac3-9eae-19b9b610fd2c",
              "expiryTime": "2025-05-07T06:23:57.247319Z",
              "databaseVersion": "POSTGRES_15"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 50.010148ms
[...]
    - id: 40
      request:
        host: alloydb.googleapis.com
        body: |
            {"backup_source":{"backupName":"projects/example-project/locations/us-east1/backups/alloydbbackup-7v2m2gyfzdaj"},"cluster":{"clusterType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-7v2m2gyfzdaj"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters:restore?alt=json&clusterId=restored-alloydbcluster-7v2m2gyfzdaj
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715063066802-617d73cdd3a59-a7a34162-784f77c3",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T06:24:26.962261811Z",
                "target": "projects/example-project/locations/us-east1/clusters/restored-alloydbcluster-7v2m2gyfzdaj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 212.18516ms
[...]
    - id: 42
[...]
