# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-2yc29d28ihx0b","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "1206188710015801051",
              "name": "operation-1715054644260-617d546d76f1a-5871b653-2c17c617",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b",
              "targetId": "1031493694094841563",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-02T12:04:04.903-07:00",
              "startTime": "2024-05-02T12:04:04.914-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715054644260-617d546d76f1a-5871b653-2c17c617"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 860.884121ms
    - id: 1
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterType":"PRIMARY","initialUser":{"password":"alloydb-pg"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/example-project/global/networks/computenetwork-2yc29d28ihx0b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters?alt=json&clusterId=alloydbcluster2yc29d28ihx0b
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715054655175-617d5477dfacb-eaa83b27-194780ef",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T04:04:15.329796979Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 215.789648ms
    - id: 2
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1715054655175-617d5477dfacb-eaa83b27-194780ef?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715054655175-617d5477dfacb-eaa83b27-194780ef",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T04:04:15.329796979Z",
                "endTime": "2024-05-07T04:04:20.788757980Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
                "uid": "f7fbb7dc-f43f-443b-939a-24e63114bb3c",
                "createTime": "2024-05-07T04:04:15.326262437Z",
                "updateTime": "2024-05-07T04:04:15.326262437Z",
                "state": "READY",
                "databaseVersion": "POSTGRES_15",
                "network": "projects/123456789/global/networks/computenetwork-2yc29d28ihx0b",
                "reconciling": false,
                "automatedBackupPolicy": {
                  "enabled": false,
                  "weeklySchedule": {
                    "startTimes": [
                      {
                        "hours": 23
                      }
                    ],
                    "daysOfWeek": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY"
                    ]
                  },
                  "backupWindow": "3600s",
                  "timeBasedRetention": {
                    "retentionPeriod": "1209600s"
                  },
                  "location": "us-east1"
                },
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "clusterType": "PRIMARY",
                "continuousBackupConfig": {
                  "enabled": true,
                  "recoveryWindowDays": 14
                },
                "continuousBackupInfo": {
                  "encryptionInfo": {
                    "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                  },
                  "enabledTime": "2024-05-07T04:04:15.182661351Z",
                  "schedule": [
                    "MONDAY",
                    "TUESDAY",
                    "WEDNESDAY",
                    "THURSDAY",
                    "FRIDAY",
                    "SATURDAY",
                    "SUNDAY"
                  ]
                },
                "networkConfig": {
                  "network": "projects/123456789/global/networks/computenetwork-2yc29d28ihx0b"
                },
                "geminiConfig": {}
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 19.650267ms
    - id: 3
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
           [...]
[...]
    - id: 5
      request:
        host: alloydb.googleapis.com
        body: |
            {"instanceType":"PRIMARY","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineConfig":{"cpuCount":2}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b/instances?alt=json&instanceId=alloydbinstance2yc29d28ihx0b
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715054666020-617d548237835-d2d0499d-16f632c0",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T04:04:26.126401646Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b/instances/alloydbinstance2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 156.507346ms
    - id: 6
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715054644260-617d546d76f1a-5871b653-2c17c617?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"1206188710015801051","name":"operation-1715054644260-617d546d76f1a-5871b653-2c17c617","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b","targetId":"1031493694094841563","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-05-02T12:04:04.903-07:00","startTime":"2024-05-02T12:04:04.914-07:00","endTime":"2024-05-02T12:04:18.863-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715054644260-617d546d76f1a-5871b653-2c17c617"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 197.38622ms
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "1031493694094841563",
              "creationTimestamp": "2024-05-02T12:04:04.863-07:00",
              "name": "computenetwork-2yc29d28ihx0b",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/1031493694094841563",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 160.957626ms
[...]
    - id: 9
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress2yc29d28ihx0b","network":"projects/example-project/global/networks/computenetwork-2yc29d28ihx0b","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "8293750265930323619",
              "name": "operation-1715054667628-617d5483c0142-6f93ccf2-148030ee",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2yc29d28ihx0b",
              "targetId": "1035740647951439523",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-02T12:04:28.050-07:00",
              "startTime": "2024-05-02T12:04:28.060-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715054667628-617d5483c0142-6f93ccf2-148030ee"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 591.811442ms
    - id: 10
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/operations/operation-1715054666020-617d548237835-d2d0499d-16f632c0?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715054666020-617d548237835-d2d0499d-16f632c0",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T04:04:26.126401646Z",
                "endTime": "2024-05-07T04:04:33.442061491Z",
                "target": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b/instances/alloydbinstance2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "error": {
                "code": 9,
                "message": "Invalid resource state for \"projects/123456789/global/networks/computenetwork-2yc29d28ihx0b\": service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details",
                "details": [
                  {
                    "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
                    "violations": [
                      {
                        "type": "network",
                        "subject": "projects/123456789/global/networks/computenetwork-2yc29d28ihx0b",
                        "description": "service networking config validation failed NETWORK_PEERING_DELETED - no peering found on network, see https://cloud.google.com/alloydb/docs/configure-connectivity for details"
                      }
                    ]
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "9199d2dd2296e7f3"
                  },
                  {
                    "@type": "type.googleapis.com/google.rpc.RequestInfo",
                    "requestId": "9199d2dd2296e7f3"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 18.467017ms
[...]
    - id: 13
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "1035740647951439523",
              "creationTimestamp": "2024-05-02T12:04:28.036-07:00",
              "name": "computeaddress2yc29d28ihx0b",
              "description": "",
              "address": "10.6.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2yc29d28ihx0b",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 220.062917ms
    - id: 14
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2yc29d28ihx0b/setLabels?alt=json
        method: POST
      response:
        body: |
            {
        [...]
[...]
    - id: 16
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"managed-by-cnrm":"true"},"createTime":"2023-07-11T23:09:39.850069Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 111.595403ms
[...]
    - id: 18
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-2yc29d28ihx0b&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 267.113791ms
[...]
    - id: 20
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-2yc29d28ihx0b","reservedPeeringRanges":["computeaddress2yc29d28ihx0b"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-a4551814-9fd0-4052-9726-727ed99aa224"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 387.001283ms
[...]
    - id: 23
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-a4551814-9fd0-4052-9726-727ed99aa224?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-a4551814-9fd0-4052-9726-727ed99aa224","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-2yc29d28ihx0b","reservedPeeringRanges":["computeaddress2yc29d28ihx0b"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 99.878516ms
[...]
    - id: 25
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-2yc29d28ihx0b&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-2yc29d28ihx0b","reservedPeeringRanges":["computeaddress2yc29d28ihx0b"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 199.861001ms
[...]
    - id: 27
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b/instances/alloydbinstance2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b/instances/alloydbinstance2yc29d28ihx0b",
              "uid": "bb03833c-c2f1-4f1a-a1bd-12aa4b634359",
              "createTime": "2024-05-07T04:04:53.331791302Z",
              "updateTime": "2024-05-07T04:09:44.448099189Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "instanceType": "PRIMARY",
              "machineConfig": {
                "cpuCount": 2
              },
              "availabilityType": "REGIONAL",
              "ipAddress": "10.14.0.14",
              "reconciling": false,
              "writableNode": {
                "zoneId": "us-east1-b"
              },
              "nodes": [
                {
                  "zoneId": "us-east1-c"
                }
              ],
              "queryInsightsConfig": {
                "recordApplicationTags": false,
                "recordClientAddress": false,
                "queryStringLength": 1024,
                "queryPlansPerMinute": 5
              },
              "clientConnectionConfig": {
                "sslConfig": {
                  "sslMode": "ENCRYPTED_ONLY"
                }
              },
              "observabilityConfig": {
                "enabled": false,
                "preserveComments": false,
                "trackWaitEvents": true,
                "trackWaitEventTypes": true,
                "maxQueryStringLength": 10240,
                "recordApplicationTags": false,
                "queryPlansPerMinute": 200,
                "trackActiveQueries": false
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 42.936755ms
[...]
    - id: 29
      request:
        host: alloydb.googleapis.com
        body: |
            {"clusterName":"projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"type":"ON_DEMAND"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/backups?alt=json&backupId=alloydbbackup2yc29d28ihx0b
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/operations/operation-1715055034394-617d55e18684b-b1a5444d-e38c28a1",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-05-07T04:10:34.474576691Z",
                "target": "projects/example-project/locations/us-east1/backups/alloydbbackup2yc29d28ihx0b",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 126.498075ms
[...]
    - id: 31
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-east1/backups/alloydbbackup2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-east1/backups/alloydbbackup2yc29d28ihx0b",
              "uid": "64ca275e-be95-4b5e-82fc-b39ae27624e3",
              "createTime": "2024-05-07T04:10:34.469449442Z",
              "updateTime": "2024-05-07T04:11:02.099451957Z",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "state": "READY",
              "type": "ON_DEMAND",
              "clusterName": "projects/example-project/locations/us-east1/clusters/alloydbcluster2yc29d28ihx0b",
              "reconciling": false,
              "encryptionInfo": {
                "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
              },
              "sizeBytes": "41566935",
              "clusterUid": "f7fbb7dc-f43f-443b-939a-24e63114bb3c",
              "expiryTime": "2025-05-07T04:10:35.795356Z",
              "databaseVersion": "POSTGRES_15"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 25.752449ms
[...]
    - id: 36
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "1031493694094841563",
              "creationTimestamp": "2024-05-02T12:04:04.863-07:00",
              "name": "computenetwork-2yc29d28ihx0b",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/1031493694094841563",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/o2dccc3d683d161c9p-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-05-02T12:04:52.104-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 180.201555ms
[...]
    - id: 44
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/123456789/global/networks/computenetwork-2yc29d28ihx0b/removePeering?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "846703267350320948",
              "name": "operation-1715055066700-617d56005594d-a55a18de-b7861fc2",
              "operationType": "removePeering",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-2yc29d28ihx0b",
              "targetId": "1031493694094841563",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-02T12:11:07.274-07:00",
              "startTime": "2024-05-02T12:11:07.282-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715055066700-617d56005594d-a55a18de-b7861fc2"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 727.65185ms
[...]
