---
version: 2
interactions:
    - id: 0
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-central1/keyRings/kmskeyring-3qchnmh1etu9?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/keyRings/kmskeyring-3qchnmh1etu9",
              "createTime": "2024-05-07T20:19:08.007178788Z"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 296.969677ms
[...]
    - id: 2
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-central1/keyRings/kmskeyring-3qchnmh1etu9/cryptoKeys/kmscryptokey-3qchnmh1etu9?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/keyRings/kmskeyring-3qchnmh1etu9/cryptoKeys/kmscryptokey-3qchnmh1etu9",
              "purpose": "ASYMMETRIC_SIGN",
              "createTime": "2024-05-07T20:19:08.860461773Z",
              "labels": {
                "key-one": "value-one",
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "versionTemplate": {
                "protectionLevel": "SOFTWARE",
                "algorithm": "EC_SIGN_P384_SHA384"
              },
              "destroyScheduledDuration": "2592000s"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 245.630711ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-3qchnmh1etu9","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL","routingConfig":{"routingMode":"REGIONAL"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "1694357884040063467",
              "name": "operation-1715115780314-617e382d595e3-f1b1336b-d01762c4",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qchnmh1etu9",
              "targetId": "1447991872677423595",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-07T14:03:00.751-07:00",
              "startTime": "2024-05-07T14:03:00.762-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715115780314-617e382d595e3-f1b1336b-d01762c4"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 612.243332ms
[...]
    - id: 5
      request:
        host: pubsub.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-3qchnmh1etu9?alt=json
        method: PUT
      response:
        body: |
            {
              "name": "projects/example-project/topics/pubsubtopic-3qchnmh1etu9",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 4.292447519s
[...]
    - id: 9
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715115780314-617e382d595e3-f1b1336b-d01762c4?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"1694357884040063467","name":"operation-1715115780314-617e382d595e3-f1b1336b-d01762c4","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qchnmh1etu9","targetId":"1447991872677423595","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-05-07T14:03:00.751-07:00","startTime":"2024-05-07T14:03:00.762-07:00","endTime":"2024-05-07T14:03:11.807-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1715115780314-617e382d595e3-f1b1336b-d01762c4"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 168.732626ms
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qchnmh1etu9?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "1447991872677423595",
              "creationTimestamp": "2024-05-07T14:03:00.737-07:00",
              "name": "computenetwork-3qchnmh1etu9",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qchnmh1etu9",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/1447991872677423595",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 165.774016ms
[...]
    - id: 12
      request:
        host: compute.googleapis.com
        body: |
            {"ipCidrRange":"10.2.0.0/16","logConfig":{"enable":false},"name":"computesubnetwork-3qchnmh1etu9","network":"projects/example-project/global/networks/computenetwork-3qchnmh1etu9","region":"projects/example-project/global/regions/us-central1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "3160540061105596926",
              "name": "operation-1715115792921-617e38395f384-a662b9a5-7811b80a",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/computesubnetwork-3qchnmh1etu9",
              "targetId": "4856377382188558846",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-05-07T14:03:13.450-07:00",
              "startTime": "2024-05-07T14:03:13.462-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1715115792921-617e38395f384-a662b9a5-7811b80a",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 617.10311ms
    - id: 13
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1715115792921-617e38395f384-a662b9a5-7811b80a?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"3160540061105596926","name":"operation-1715115792921-617e38395f384-a662b9a5-7811b80a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/computesubnetwork-3qchnmh1etu9","targetId":"4856377382188558846","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-05-07T14:03:13.450-07:00","startTime":"2024-05-07T14:03:13.462-07:00","endTime":"2024-05-07T14:03:24.554-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1715115792921-617e38395f384-a662b9a5-7811b80a","region":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 135.582969ms
    - id: 14
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/computesubnetwork-3qchnmh1etu9?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#subnetwork",
              "id": "4856377382188558846",
              "creationTimestamp": "2024-05-07T14:03:13.439-07:00",
              "name": "computesubnetwork-3qchnmh1etu9",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qchnmh1etu9",
              "ipCidrRange": "10.2.0.0/16",
              "gatewayAddress": "10.2.0.1",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/computesubnetwork-3qchnmh1etu9",
              "privateIpGoogleAccess": false,
              "fingerprint": "PP24p1b_mzg=",
              "allowSubnetCidrRoutesOverlap": false,
              "enableFlowLogs": false,
              "privateIpv6GoogleAccess": "DISABLE_GOOGLE_ACCESS",
              "purpose": "PRIVATE",
              "logConfig": {
                "enable": false
              },
              "stackType": "IPV4_ONLY"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 288.324836ms
[...]
    - id: 16
      request:
        host: container.googleapis.com
        body: |
            {"cluster":{"autopilot":{"enabled":false},"autoscaling":{"autoprovisioningNodePoolDefaults":{"bootDiskKmsKey":"projects/example-project/locations/us-central1/keyRings/kmskeyring-3qchnmh1etu9/cryptoKeys/kmscryptokey-3qchnmh1etu9","diskSizeGb":100,"imageType":"COS_CONTAINERD","minCpuPlatform":"automatic","serviceAccount":"default","upgradeSettings":{}},"autoscalingProfile":"BALANCED","enableNodeAutoprovisioning":true,"resourceLimits":[{"maximum":"100","minimum":"10","resourceType":"cpu"},{"maximum":"1000","minimum":"100","resourceType":"memory"}]},"binaryAuthorization":{"enabled":false},"initialNodeCount":1,"ipAllocationPolicy":{"clusterIpv4CidrBlock":"/20","servicesIpv4CidrBlock":"/20","stackType":"IPV4","useIpAliases":true},"legacyAbac":{"enabled":false},"loggingConfig":{"componentConfig":{"enableComponents":["SYSTEM_COMPONENTS","WORKLOADS"]}},"maintenancePolicy":{"window":{}},"masterAuthorizedNetworksConfig":{},"monitoringConfig":{"componentConfig":{"enableComponents":["SYSTEM_COMPONENTS","APISERVER"]},"managedPrometheusConfig":{"enabled":true}},"name":"cluster-sample-3qchnmh1etu9","network":"projects/example-project/global/networks/computenetwork-3qchnmh1etu9","networkConfig":{},"networkPolicy":{},"nodeConfig":{"linuxNodeConfig":{"sysctls":{"net.core.somaxconn":"4096"}},"loggingConfig":{"variantConfig":{"variant":"DEFAULT"}}},"notificationConfig":{"pubsub":{"enabled":true,"topic":"projects/example-project/topics/pubsubtopic-3qchnmh1etu9"}},"resourceLabels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"shieldedNodes":{"enabled":true},"subnetwork":"projects/example-project/regions/us-central1/subnetworks/computesubnetwork-3qchnmh1etu9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operation-1715115819547-2ccbf76d-75eb-4930-a53f-d8e1bc2a1908","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"RUNNING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1715115819547-2ccbf76d-75eb-4930-a53f-d8e1bc2a1908","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3qchnmh1etu9","startTime":"2024-05-03T21:03:39.547503292Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.921829423s
[...]
    - id: 19
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/operations/operation-1715115819547-2ccbf76d-75eb-4930-a53f-d8e1bc2a1908?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operation-1715115819547-2ccbf76d-75eb-4930-a53f-d8e1bc2a1908","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"DONE","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1715115819547-2ccbf76d-75eb-4930-a53f-d8e1bc2a1908","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3qchnmh1etu9","startTime":"2024-05-03T21:03:39.547503292Z","endTime":"2024-05-03T21:09:25.020571699Z","progress":{"metrics":[{"name":"CLUSTER_CONFIGURING","intValue":"10"},{"name":"CLUSTER_CONFIGURING_TOTAL","intValue":"10"},{"name":"CLUSTER_DEPLOYING","intValue":"12"},{"name":"CLUSTER_DEPLOYING_TOTAL","intValue":"12"},{"name":"CLUSTER_HEALTHCHECKING","intValue":"1"},{"name":"CLUSTER_HEALTHCHECKING_TOTAL","intValue":"2"}]}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 85.54069ms
    - id: 20
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3qchnmh1etu9?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"cluster-sample-3qchnmh1etu9","initialNodeCount":1,"nodeConfig":{"machineType":"e2-medium","diskSizeGb":100,"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"],"metadata":{"disable-legacy-endpoints":"true"},"imageType":"COS_CONTAINERD","serviceAccount":"default","diskType":"pd-balanced","shieldedInstanceConfig":{"enableIntegrityMonitoring":true},"linuxNodeConfig":{"sysctls":{"net.core.somaxconn":"4096"}},"loggingConfig":{"variantConfig":{"variant":"DEFAULT"}},"windowsNodeConfig":{}},"masterAuth":{"clusterCaCertificate":""},"loggingService":"logging.googleapis.com/kubernetes","monitoringService":"monitoring.googleapis.com/kubernetes","network":"computenetwork-3qchnmh1etu9","clusterIpv4Cidr":"10.230.224.0/20","addonsConfig":{"kubernetesDashboard":{"disabled":true},"networkPolicyConfig":{"disabled":true},"gcePersistentDiskCsiDriverConfig":{"enabled":true}},"subnetwork":"computesubnetwork-3qchnmh1etu9","nodePools":[{"name":"default-pool","config":{"machineType":"e2-medium","diskSizeGb":100,"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"],"metadata":{"disable-legacy-endpoints":"true"},"imageType":"COS_CONTAINERD","serviceAccount":"default","diskType":"pd-balanced","shieldedInstanceConfig":{"enableIntegrityMonitoring":true},"linuxNodeConfig":{"sysctls":{"net.core.somaxconn":"4096"}},"loggingConfig":{"variantConfig":{"variant":"DEFAULT"}},"windowsNodeConfig":{}},"initialNodeCount":1,"management":{"autoUpgrade":true,"autoRepair":true},"maxPodsConstraint":{"maxPodsPerNode":"110"},"podIpv4CidrSize":24,"locations":["us-central1-a"],"networkConfig":{"podRange":"gke-cluster-sample-3qchnmh1etu9-pods-81fb14b9","podIpv4CidrBlock":"10.230.224.0/20","enablePrivateNodes":false},"selfLink":"https://container.googleapis.com/v1beta1/projects/example-project/zones/us-central1-a/clusters/cluster-sample-3qchnmh1etu9/nodePools/default-pool","version":"1.28.7-gke.1026000","instanceGroupUrls":["https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3qchn-default-pool-ecd2171d-grp"],"status":"RUNNING","upgradeSettings":{"maxSurge":1,"strategy":"SURGE"},"etag":"4d51aa4e-eb6c-48a0-a614-f9af985cd660"}],"locations":["us-central1-a"],"resourceLabels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"labelFingerprint":"d358625d","legacyAbac":{},"ipAllocationPolicy":{"useIpAliases":true,"clusterIpv4Cidr":"10.230.224.0/20","servicesIpv4Cidr":"10.230.240.0/20","clusterSecondaryRangeName":"gke-cluster-sample-3qchnmh1etu9-pods-81fb14b9","servicesSecondaryRangeName":"gke-cluster-sample-3qchnmh1etu9-services-81fb14b9","clusterIpv4CidrBlock":"10.230.224.0/20","servicesIpv4CidrBlock":"10.230.240.0/20","stackType":"IPV4","podCidrOverprovisionConfig":{}},"masterAuthorizedNetworksConfig":{"gcpPublicCidrsAccessEnabled":true},"maintenancePolicy":{"resourceVersion":"e3b0c442"},"binaryAuthorization":{},"autoscaling":{"enableNodeAutoprovisioning":true,"resourceLimits":[{"resourceType":"cpu","minimum":"10","maximum":"100"},{"resourceType":"memory","minimum":"100","maximum":"1000"}],"autoscalingProfile":"BALANCED","autoprovisioningNodePoolDefaults":{"oauthScopes":["https://www.googleapis.com/auth/userinfo.email","https://www.googleapis.com/auth/cloud-platform"],"serviceAccount":"default","upgradeSettings":{"strategy":"SURGE"},"management":{"autoUpgrade":true,"autoRepair":true},"diskSizeGb":100,"bootDiskKmsKey":"projects/example-project/locations/us-central1/keyRings/kmskeyring-3qchnmh1etu9/cryptoKeys/kmscryptokey-3qchnmh1etu9","imageType":"COS_CONTAINERD"}},"networkConfig":{"network":"projects/example-project/global/networks/computenetwork-3qchnmh1etu9","subnetwork":"projects/example-project/regions/us-central1/subnetworks/computesubnetwork-3qchnmh1etu9","defaultSnatStatus":{},"serviceExternalIpsConfig":{}},"privateCluster":true,"defaultMaxPodsConstraint":{"maxPodsPerNode":"110"},"privateClusterConfig":{"privateEndpoint":"10.2.0.2","publicEndpoint":"34.135.162.215"},"databaseEncryption":{"state":"DECRYPTED"},"shieldedNodes":{"enabled":true},"releaseChannel":{"channel":"REGULAR"},"clusterTelemetry":{"type":"ENABLED"},"notificationConfig":{"pubsub":{"enabled":true,"topic":"projects/example-project/topics/pubsubtopic-3qchnmh1etu9"}},"selfLink":"https://container.googleapis.com/v1beta1/projects/example-project/zones/us-central1-a/clusters/cluster-sample-3qchnmh1etu9","zone":"us-central1-a","endpoint":"34.135.162.215","initialClusterVersion":"1.28.7-gke.1026000","currentMasterVersion":"1.28.7-gke.1026000","currentNodeVersion":"1.28.7-gke.1026000","createTime":"2024-05-03T21:03:36+00:00","status":"RUNNING","servicesIpv4Cidr":"10.230.240.0/20","instanceGroupUrls":["https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3qchn-default-pool-ecd2171d-grp"],"currentNodeCount":1,"location":"us-central1-a","master":{},"autopilot":{},"id":"81fb14b9aef1486c95ebcac56f096bce2e9cc3031a4f4799918a4e28a6cb32f6","nodePoolDefaults":{"nodeConfigDefaults":{"loggingConfig":{"variantConfig":{"variant":"DEFAULT"}}}},"loggingConfig":{"componentConfig":{"enableComponents":["SYSTEM_COMPONENTS","WORKLOADS"]}},"monitoringConfig":{"componentConfig":{"enableComponents":["SYSTEM_COMPONENTS","APISERVER"]},"managedPrometheusConfig":{"enabled":true},"advancedDatapathObservabilityConfig":{}},"protectConfig":{"workloadConfig":{"auditMode":"BASIC"},"workloadVulnerabilityMode":"WORKLOAD_VULNERABILITY_MODE_UNSPECIFIED"},"etag":"c65daf62-2aa9-4b8c-b9b2-c8e6ea78ac35","securityPostureConfig":{"mode":"BASIC","vulnerabilityMode":"VULNERABILITY_MODE_UNSPECIFIED"},"enterpriseConfig":{"clusterTier":"STANDARD"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100.763908ms
    - id: 21
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3qchn-default-pool-ecd2171d-grp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#instanceGroupManager","id":"8458876738961091000","creationTimestamp":"2024-05-07T14:04:23.651-07:00","name":"gke-cluster-sample-3qchn-default-pool-ecd2171d-grp","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","instanceTemplate":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/gke-cluster-sample-3qchn-default-pool-ecd2171d","versions":[{"instanceTemplate":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/gke-cluster-sample-3qchn-default-pool-ecd2171d","targetSize":{"calculated":1}}],"instanceGroup":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroups/gke-cluster-sample-3qchn-default-pool-ecd2171d-grp","baseInstanceName":"gke-cluster-sample-3qchn-default-pool-ecd2171d","fingerprint":"iKNsCaqD0b8=","currentActions":{"none":1,"creating":0,"creatingWithoutRetries":0,"verifying":0,"recreating":0,"deleting":0,"abandoning":0,"restarting":0,"refreshing":0,"suspending":0,"resuming":0,"stopping":0,"starting":0},"status":{"isStable":true,"allInstancesConfig":{"effective":true},"versionTarget":{"isReached":true},"stateful":{"isStateful":false,"hasStatefulConfig":false,"perInstanceConfigs":{"allEffective":true}}},"targetSize":1,"targetStoppedSize":0,"targetSuspendedSize":0,"listManagedInstancesResults":"PAGINATED","standbyPolicy":{"mode":"MANUAL"},"selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3qchn-default-pool-ecd2171d-grp","updatePolicy":{"type":"OPPORTUNISTIC","minimalAction":"REPLACE","maxSurge":{"fixed":1,"calculated":1},"maxUnavailable":{"fixed":1,"calculated":1},"minReadySec":0,"replacementMethod":"SUBSTITUTE"},"serviceAccount":"123456789@cloudservices.gserviceaccount.com","instanceLifecyclePolicy":{"forceUpdateOnRepair":"NO","defaultActionOnFailure":"REPAIR"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 302.620845ms
[...]
    - id: 28
      request:
        host: container.googleapis.com
        body: |
            {"update":{"desiredLoggingService":"none","desiredMonitoringService":"none"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3qchnmh1etu9?alt=json&prettyPrint=false
        method: PUT
      response:
        body: '{"name":"operation-1715116173370-330fcfc7-f645-4d02-a977-22ad90d4b368","zone":"us-central1-a","operationType":"UPDATE_CLUSTER","status":"RUNNING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1715116173370-330fcfc7-f645-4d02-a977-22ad90d4b368","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3qchnmh1etu9","startTime":"2024-05-03T21:09:33.370352759Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 362.841517ms
[...]
    - id: 30
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qchnmh1etu9?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "1447991872677423595",
              "creationTimestamp": "2024-05-07T14:03:00.737-07:00",
              "name": "computenetwork-3qchnmh1etu9",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qchnmh1etu9",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/1447991872677423595",
              "autoCreateSubnetworks": false,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/computesubnetwork-3qchnmh1etu9"
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 184.142077ms
    - id: 31
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/computesubnetwork-3qchnmh1etu9?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#subnetwork",
              "id": "4856377382188558846",
              "creationTimestamp": "2024-05-07T14:03:13.439-07:00",
              "name": "computesubnetwork-3qchnmh1etu9",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-3qchnmh1etu9",
              "ipCidrRange": "10.2.0.0/16",
              "gatewayAddress": "10.2.0.1",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/computesubnetwork-3qchnmh1etu9",
              "privateIpGoogleAccess": true,
              "secondaryIpRanges": [
                {
                  "rangeName": "gke-cluster-sample-3qchnmh1etu9-pods-81fb14b9",
                  "ipCidrRange": "10.230.224.0/20"
                },
                {
                  "rangeName": "gke-cluster-sample-3qchnmh1etu9-services-81fb14b9",
                  "ipCidrRange": "10.230.240.0/20"
                }
              ],
              "fingerprint": "CD7ViVu7myo=",
              "allowSubnetCidrRoutesOverlap": false,
              "enableFlowLogs": false,
              "privateIpv6GoogleAccess": "DISABLE_GOOGLE_ACCESS",
              "purpose": "PRIVATE",
              "logConfig": {
                "enable": false
              },
              "stackType": "IPV4_ONLY"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 305.406261ms
[...]
    - id: 34
      request:
        host: container.googleapis.com
        body: |
            {"labelFingerprint":"d358625d","resourceLabels":{"cnrm-test":"true","label-one":"value-two","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3qchnmh1etu9:setResourceLabels?alt=json&prettyPrint=false
        method: POST
      response:
[...]
